.heading
  %h2="Revision sistematica #{@revision[:nombre]}: Administración #{@nombre_etapa}"

:javascript
  $(document).ready(function() {
    actualizar_resolucion('#{@etapa}');
    }
  );

=@modal_archivos.javascript_header
=@modal_archivos.html_modal

=partial(:breadcrumb_revision_admin,:locals=>{:nombre=>@nombre_etapa})

%h3 Estadísticas por usuario

%table.reporte
  %thead
    %th Usuario
    - Decision::N_EST.each do |dec,nombre|
      %th=Decision.get_name_decision(dec)
  %tbody
    - @ars.decisiones_usuarios(@etapa).each do |usuario_id, edu|
      %tr
        %th=edu[:usuario].nombre
        - Decision::N_EST.each do |dec,nombre|
          %td=edu[:adu].total_decisiones[dec].to_i

%h3 Estadistica de Decisiones

- decisiones_orden=@ars.decisiones_patron(@etapa).sort_by {|a|  @ars.patron_orden(a[0]) }
- resoluciones_patron=@ars.resoluciones_desde_patron_decision(@etapa)
%table.reporte
  %thead
    %tr
      %th{:colspan=>4} Decisiones
      %th{:rowspan=>2}n
      %th{:colspan=>3}Resoluciones
      %th{:rowspan=>2}Acciones
    %tr
      - Decision::N_EST.each do |dec,nombre|
        %th=Decision.get_name_decision(dec)
      %th Sí
      %th No
      %th S/R
  %tbody
    - decisiones_orden.each do |patron, cuenta|
      %tr
        - Decision::N_EST.each do |dec,nombre|
          %td{:class=>"decision decision-#{dec}"}= patron[dec]
        %td=cuenta
        %td{:class=>"decision decision-yes"}=resoluciones_patron[patron]["yes"]
        %td{:class=>"decision decision-no"}=resoluciones_patron[patron]["no"]
        %td{:class=>"decision decision-undecided"}=resoluciones_patron[patron][Resolucion::NO_RESOLUCION]
        %td
          %a{:href=>"#patron_#{@ars.patron_id(patron)}",:class=>"btn btn-default btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon-triangle-bottom"}
            Ver
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/yes"),:class=>"btn btn-success btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ok-circle"}
            Aceptar
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/no"),:class=>"btn btn-danger btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ban-circle"}
            Rechazar

.btn-group
  %a{:href=>url("/revision/#{@revision[:id]}/etapa/revision_titulo_resumen/generar_referencias_crossref"), :role=>"button", :class=>"btn btn-default btn-sm"}Generar referencias crossref


%h3 Estado documentos canónicos

%table.tablesorter.reporte
  %thead
    %th Id
    %th Título
    %th Autor
    %th Journal
    %th Documentos
    %th Tags
  %tbody
    -@cds.each do |doc_c|
      %tr
        %td=doc_c[:id]
        %td=doc_c[:title]
        %td=doc_c[:author]
        %td=doc_c[:journal]
        %td
          -apc_doc=@archivos_por_cd[doc_c[:id]]
          ="Nº archivos:#{apc_doc.nil? ? 0 :apc_doc.length }"
          -if apc_doc
            -apc_doc.each do |archivo|
              %div
                =archivo[:id]
                =@modal_archivos.botones(archivo, doc_c[:id])

        %td

%h3 Estadísticas por categorías automáticas
%table.reporte
  %thead
    %th Categoria
    %th n
    %th Porcentaje
  %tbody
    -@aprobacion_categorias.sort_by{|a| -a[1][:n] }.each do |categoria, datos|
      %tr
        %td=categoria
        %td=datos[:n]
        %td=datos[:p].nil? ? "--" : sprintf("%0.2f%",datos[:p]*100)

%h3 Decisiones por documento

- dep_ord=@ars.decisiones_por_cd(@etapa).sort_by {|cd_id,a| @ars.patron_orden a }
- rpc=@ars.resolucion_por_cd(@etapa)
- dep_ord.chunk_while {|antes, despues|  antes[1]==despues[1]}.each do |bloque|
  %a{:name=>"patron_#{@ars.patron_id(bloque.first[1])}"}
    %h4=@ars.patron_nombre bloque.first[1]
  %table.reporte
    %thead
      %th Documento
      - Decision::N_EST.each do |dec,nombre|
        %th=Decision.get_name_decision(dec)
      %th Resolución
    %tbody
      - bloque.each do |cd_id,vals|
        %tr
          %td
            =@ars.cd_hash[cd_id].title
            %br
            =partial(:botones_resolucion, :locals=>{:rpc=>rpc, :cd_id=>cd_id, :etapa=>@etapa, :usuario_id=>@usuario_id, :revision=>@revision})
          - Decision::N_EST.each do |dec,nombre|
            %td{:class=>"decision decision-#{dec}"}= vals[dec].to_i
          %td