.heading
  %h2="Revision sistematica #{@revision[:nombre]}: Administración Revisión título Resumen"

:javascript
  $(document).ready(function() {
    actualizar_resolucion('revision_titulo_resumen');
    }
  );



=partial(:breadcrumb_revision_admin,:locals=>{:nombre=>"Título Resumen"})

%h3 Estadísticas por usuario

%table.reporte
  %thead
    %th Usuario
    - Decision::N_EST.each do |dec,nombre|
      %th=Decision.get_name_decision(dec)
  %tbody
    - @ars.decisiones_usuarios(@etapa).each do |usuario_id, edu|
      %tr
        %th=edu[:usuario].nombre
        - Decision::N_EST.each do |dec,nombre|
          %td=edu[:adu].total_decisiones[dec].to_i

%h3 Estadistica de Decisiones

- decisiones_orden=@ars.decisiones_patron(@etapa).sort_by {|a|  @ars.patron_orden(a[0]) }
%table.reporte
  %thead
    - Decision::N_EST.each do |dec,nombre|
      %th=Decision.get_name_decision(dec)
    %th n
    %th Acciones
  %tbody
    - decisiones_orden.each do |patron, cuenta|
      %tr
        - Decision::N_EST.each do |dec,nombre|
          %td{:class=>"decision decision-#{dec}"}= patron[dec]
        %td=cuenta
        %td
          %a{:href=>"#patron_#{@ars.patron_id(patron)}",:class=>"btn btn-default btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon-triangle-bottom"}
            Ver
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/yes"),:class=>"btn btn-success btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ok-circle"}
            Aceptar
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/no"),:class=>"btn btn-danger btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ban-circle"}
            Rechazar


%h3 Decisiones por documento

- dep_ord=@ars.decisiones_por_cd(@etapa).sort_by {|cd_id,a| @ars.patron_orden a }
- rpc=@ars.resolucion_por_cd_calculo(@etapa)
- dep_ord.chunk_while {|antes, despues|  antes[1]==despues[1]}.each do |bloque|
  %a{:name=>"patron_#{@ars.patron_id(bloque.first[1])}"}
    %h4=@ars.patron_nombre bloque.first[1]
  %table.reporte
    %thead
      %th Documento
      - Decision::N_EST.each do |dec,nombre|
        %th=Decision.get_name_decision(dec)
      %th Resolución
    %tbody
      - bloque.each do |cd_id,vals|
        %tr
          %td
            =@ars.cd_hash[cd_id].title
            %br
            =partial(:botones_resolucion, :locals=>{:rpc=>rpc, :cd_id=>cd_id, :etapa=>@etapa, :usuario_id=>@usuario_id, :revision=>@revision})
          - Decision::N_EST.each do |dec,nombre|
            %td{:class=>"decision decision-#{dec}"}= vals[dec].to_i
          %td


