.heading
  =t_systematic_review_title(@revision[:nombre], "systematic_review_page.review_full_text_administration")


:javascript
  $(document).ready(function() {
    actualizar_resolucion('#{@etapa}');
    }
  );

=@modal_archivos.javascript_header
=@modal_archivos.html_modal

=partial(:breadcrumb_revision_admin,:locals=>{:nombre=>t(@nombre_etapa)})

%h3=t(:Statistics_by_user)

%table.reporte
  %thead
    %th=t(:User)
    %th=t(:Assigned)
    - Decision::N_EST.each do |dec,nombre|
      %th=t(Decision.get_name_decision(dec))
  %tbody
    - @ars.decisiones_usuarios(@etapa).each do |usuario_id, edu|
      %tr
        %th=edu[:usuario].nombre
        %td=edu[:adu].tiene_asignaciones? ? t(:Yes):t(:No)
        - Decision::N_EST.each do |dec,nombre|
          %td=edu[:adu].total_decisiones[dec].to_i

%h3=t(:Decisions_stastistics)

- decisiones_orden=@ars.decisiones_patron(@etapa).sort_by {|a|  @ars.patron_orden(a[0]) }
- resoluciones_patron=@ars.resoluciones_desde_patron_decision(@etapa)
%table.reporte
  %thead
    %tr
      %th{:colspan=>4}=t(:Decisions)
      %th{:rowspan=>2}=t(:n)
      %th{:colspan=>3}=t(:Resolutions)
      %th{:rowspan=>2}=t(:Actions)
    %tr
      - Decision::N_EST.each do |dec,nombre|
        %th=t(Decision.get_name_decision(dec))
      %th=t(:Yes)
      %th=t(:No)
      %th=t(:Without_Resolution)
  %tbody
    - decisiones_orden.each do |patron, cuenta|
      %tr
        - Decision::N_EST.each do |dec,nombre|
          %td{:class=>"decision decision-#{dec}"}= patron[dec]
        %td=cuenta
        %td{:class=>"decision decision-yes"}=resoluciones_patron[patron]["yes"]
        %td{:class=>"decision decision-no"}=resoluciones_patron[patron]["no"]
        %td{:class=>"decision decision-undecided"}=resoluciones_patron[patron][Resolucion::NO_RESOLUCION]
        %td
          %a{:href=>"#patron_#{@ars.patron_id(patron)}",:class=>"btn btn-default btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon-triangle-bottom"}
            =t(:View)
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/yes"),:class=>"btn btn-success btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ok-circle"}
            =t(:Accept)
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/no"),:class=>"btn btn-danger btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ban-circle"}
            =t(:Reject)

.btn-group
  %a{:href=>url("/revision/#{@revision[:id]}/etapa/revision_titulo_resumen/generar_referencias_crossref"), :role=>"button", :class=>"btn btn-default btn-sm"}=t(:Generate_Crossref_references)


%h3=t(:Canonical_Document_Status)

%table.tablesorter.reporte
  %thead
    %th=t(:Id)
    %th=t(:Title)
    %th=t(:Author)
    %th=t(:Journal)
    %th=t(:Documents)
    %th=t(:Tags)
  %tbody
    -@cds.each do |doc_c|
      %tr
        %td=doc_c[:id]
        %td=doc_c[:title]
        %td=doc_c[:author]
        %td=doc_c[:journal]
        %td
          -apc_doc=@archivos_por_cd[doc_c[:id]]
          ="Nº archivos:#{apc_doc.nil? ? 0 :apc_doc.length }"
          -if apc_doc
            -apc_doc.each do |archivo|
              %div
                =archivo[:id]
                =@modal_archivos.botones(archivo, doc_c[:id])
          - else
            =@modal_archivos.cargador_archivo(@revision[:id],doc_c[:id])

        %td

=partial(:estadisticas_tags, :locals=>{revision:@revision, etapa:'revision_texto_completo'})

%h3=t(:Decisions_by_document)

- dep_ord=@ars.decisiones_por_cd(@etapa).sort_by {|cd_id,a| @ars.patron_orden a }
- rpc=@ars.resolucion_por_cd(@etapa)
- dep_ord.chunk_while {|antes, despues|  antes[1]==despues[1]}.each do |bloque|
  %a{:name=>"patron_#{@ars.patron_id(bloque.first[1])}"}
    %h4=@ars.patron_nombre bloque.first[1]
  %table.reporte
    %thead
      %th=t(:Document)
      - Decision::N_EST.each do |dec,nombre|
        %th=t(Decision.get_name_decision(dec))
      %th=t(:Resolution)
    %tbody
      - bloque.each do |cd_id,vals|
        %tr
          %td
            =@ars.cd_hash[cd_id].title
            %br
            =partial(:botones_resolucion, :locals=>{:rpc=>rpc, :cd_id=>cd_id, :etapa=>@etapa, :usuario_id=>@usuario_id, :revision=>@revision})
          - Decision::N_EST.each do |dec,nombre|
            %td{:class=>"decision decision-#{dec}"}= vals[dec].to_i
          %td