.heading
  =t_systematic_review_title(@revision[:nombre], "systematic_review_page.#{@etapa}_administration")

:javascript
  $(document).ready(function() {
    actualizar_resolucion('#{@etapa}');
    }
  );



=partial(:breadcrumb_revision_admin,:locals=>{:nombre=>t(@nombre_etapa)})

%p.info=t_desc_value(:Count_canonical_documents, @cds_id.length)

%h3=t(:Statistics_by_user)

.btn-group
  %a.btn.btn-sm.btn-default{:href=>"/revision/#{@revision[:id]}/administracion/#{@etapa}/cd_assignations"}
    %span.glyphicon.glyphicon-list
    =t(:Check_CD_assignations)
  - if !@cd_without_assignation.empty?
    %a.btn.btn-sm.btn-warning{:href=>"/revision/#{@revision[:id]}/administracion/#{@etapa}/cd_without_assignations"}
      %span.glyphicon.glyphicon-list
      =t(:Check_CD_without_assignations)
      %span.badge=@cd_without_assignation.count

%table.reporte
  %thead
    %th=t(:User)
    %th=t(:Count_canonical_documents_assigned)
    - Decision::N_EST.each do |dec,nombre|
      %th=t(Decision.get_name_decision(dec))
  %tbody
    - @ars.decisiones_usuarios(@etapa).each do |usuario_id, edu|
      %tr
        %th=edu[:usuario].nombre
        %td=edu[:adu].asignaciones.count
        - Decision::N_EST.each do |dec,nombre|
          %td=edu[:adu].total_decisiones[dec].to_i

%h3=t(:Decisions_stastistics)

- decisiones_orden=@ars.decisiones_patron(@etapa).sort_by {|a|  @ars.patron_orden(a[0]) }
- resoluciones_patron=@ars.resoluciones_desde_patron_decision(@etapa)
%table.reporte
  %thead
    %tr
      %th{:colspan=>4}=t(:Decision_pattern)
      %th{:rowspan=>2}=t(:n)
      %th{:colspan=>3}=t(:Resolutions)
      %th{:rowspan=>2}=t(:Actions)
    %tr
      - Decision::N_EST.each do |dec,nombre|
        %th=t(Decision.get_name_decision(dec))
      %th=t(:Yes)
      %th=t(:No)
      %th=t(:Without_Resolution)
  %tbody
    - decisiones_orden.each do |patron, cuenta|
      %tr
        - Decision::N_EST.each do |dec,nombre|
          %td{:class=>"decision decision-#{dec}"}= patron[dec]
        %td=cuenta
        %td{:class=>"decision decision-yes"}=resoluciones_patron[patron]["yes"]
        %td{:class=>"decision decision-no"}=resoluciones_patron[patron]["no"]
        %td{:class=>"decision decision-undecided"}=resoluciones_patron[patron][Resolucion::NO_RESOLUCION]
        %td
          %a{:href=>"#patron_#{@ars.patron_id(patron)}",:class=>"btn btn-default btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon-triangle-bottom"}
            =t(:View)
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/yes"),:class=>"btn btn-success btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ok-circle"}
            =t(:Accept)
          %a{:href=>url("/revision/#{@revision[:id]}/etapa/#{@etapa}/patron/#{@ars.patron_id(patron)}/resolucion/no"),:class=>"btn btn-danger btn-sm", :role=>"button"}
            %span{:class=>"glyphicon glyphicon glyphicon-ban-circle"}
            =t(:Reject)


=partial(:sr_administration_actions, :locals=>{revision:@revision, etapa:@etapa})

-if @etapa.to_sym==:revision_texto_completo
  =@modal_archivos.javascript_header
  =@modal_archivos.html_modal


  %h3=t(:Canonical_Document_Status)

  .btn-group.btn-group-sm
    %a{:href=>url("/revision/#{@revision[:id]}/archivos"),:class=>"btn btn-default btn-sm", :role=>"button"}
      %span.glyphicon.glyphicon-file
      =t(:File_batch_management)


  %table.tablesorter.reporte
    %thead
      %th=t(:Id)
      %th=t(:Title)
      %th=t(:Author)
      %th=t(:Journal)
      %th=t(:Documents)

    %tbody
      -@cds.each do |doc_c|
        %tr
          %td=doc_c[:id]
          %td=doc_c[:title]
          %td=doc_c[:author]
          %td=doc_c[:journal]
          %td
            -apc_doc=@archivos_por_cd[doc_c[:id]]
            ="Nº archivos:#{apc_doc.nil? ? 0 :apc_doc.length }"
            -if apc_doc
              -apc_doc.each do |archivo|
                %div
                  =archivo[:id]
                  =@modal_archivos.botones(archivo, doc_c[:id])
            - else
              =@modal_archivos.cargador_archivo(@revision[:id],doc_c[:id])


  =partial(:estadisticas_tags, :locals=>{revision:@revision, etapa:@etapa})

%h3=t(:Decisions_by_document)

- dep_ord=@ars.decisiones_por_cd(@etapa).sort_by {|cd_id,a| @ars.patron_orden a }
- rpc=@ars.resolucion_por_cd(@etapa)
- dep_ord.chunk_while {|antes, despues|  antes[1]==despues[1]}.each do |bloque|
  %a{:name=>"patron_#{@ars.patron_id(bloque.first[1])}"}
    %h4=@ars.patron_nombre bloque.first[1]
  %table.reporte
    %thead
      %th=t(:Document)
      - Decision::N_EST.each do |dec,nombre|
        %th=t(Decision.get_name_decision(dec))
      %th=t(:Resolution)
    %tbody
      - bloque.each do |cd_id,vals|
        %tr
          %td
            =@ars.cd_hash[cd_id].title
            =partial(:canonico_documento_boton, :locals=>{id:cd_id})
            %br
            =partial(:botones_resolucion, :locals=>{:rpc=>rpc, :cd_id=>cd_id, :etapa=>@etapa, :usuario_id=>@usuario_id, :revision=>@revision})
          - Decision::N_EST.each do |dec,nombre|
            %td{:class=>"decision decision-#{dec}"}= vals[dec].to_i
          %td