.heading=@header
%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li.active
    =t(:Searchs)
:javascript
  $(document).ready(function() {
    $(".btn-action").click(function() {
      var value=$(this).attr('value');
      $("#form-action").val(value);
    })
  });
%p
- if @busquedas.count>0
  %form{:method=>:post, :action=>"/busquedas/update"}
    %input{:type=>:hidden, :name=>:action, :id=>'form-action'}
    %input{:type=>:hidden, :name=>:url_back, :value=>@url_back}
    .btn-toolbar
      .btn-group.btn-group-sm{:role=>:group}
        %button.btn.btn-default.btn-action{:value=>:process}
          %span{:class=>"glyphicon glyphicon-play"}
          =t(:Search_process)
        %button.btn.btn-default.btn-action{:value=>:valid}
          %span.glyphicon.glyphicon-ok-circle
          =t(:Search_valid)
        %button.btn.btn-default.btn-action{:value=>:invalid}
          %span.glyphicon.glyphicon-ban-circle
          =t(:Search_invalid)
      .btn-group.btn-group-xs
        %button.btn.btn-danger.btn-action{:value=>:delete}
          %span.glyphicon.glyphicon-remove
          =t(:Search_delete)

    %table.table.table-bordered
      %thead
        %th{:colspan=>2}=t(:Id)
        %th=t("search.Source")
        %th=t(:Bibliographic_database)
        %th=t(:Date)
        %th=t(:Search_criteria)
        %th=t(:Description)
        %th=t(:File)
        %th=t(:Search_valid)
        %th=t(:Records)
      %tbody
        - @busquedas.each do |g|
          %tr{:class=>bool_class(g.valid, "success","danger","warning")}
            %td
              %input{:type=>'checkbox', :name=>"search[]", :value=>g[:id], :class=>'checkbox_interactive'}
            %td=g.id
            %td=t(g.source_name)
            %td=g.base_bibliografica_nombre
            %td=g.fecha
            %td=g.criterio_busqueda
            %td=g.descripcion
            %td=g.archivo_nombre.nil? ? t(:No_file) : "#{g.archivo_nombre} [#{g.archivo_tipo}]"
            %td= t_yes_no_nil(g.valid)
            %td
              %a.btn.btn-default{:href=>url("/busqueda/#{g.id}/editar")}
                %span{:class=>"glyphicon glyphicon-pencil"}
                =t(:Edit)
              %a.btn.btn-default{:href=>url("/busqueda/#{g.id}/registros")}
                %span{:class=>"badge"}=g.registros_n
                %span{:class=>"glyphicon glyphicon-list"}
                =t(:Records)
              %a.btn.btn-default{:href=>url("/busqueda/#{g.id}/referencias")}
                %span{:class=>"glyphicon glyphicon-plane"}
                =t(:References)
- else
  .alert.alert-warning=t(:No_search_on_systematic_review_for_this_user)

.btn-group.btn-group-sm
  %a.btn.btn-default{:role=>:button,:href=>url("/revision/#{@revision.id}/busqueda/nuevo")}
    %span{:class=>"glyphicon glyphicon-plus"}
    =t(:Search_new)
  %a.btn.btn-default{:role=>:button, :href=>url("/revision/#{@revision.id}/busquedas/comparar_registros")}
    %span.glyphicon.glyphicon-dashboard
    =t(:Compare_records_by_search)
