%h2=t(:Systematic_review_canonical_documents, sr_name:@revision.nombre)

%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/revision/#{@revision.id}/canonicos_documentos")}=t(:Canonical_documents)


%p
  =sprintf("<strong>#{t(:Count_canonical_documents)}</strong>: #{t(:Total)}=%d, #{t(:Records)}=%d, #{t(:References)}=%d",@ars.cd_count_total, @ars.cd_count_reg, @ars.cd_count_ref)

%p
  =t_desc_value(:Duplicated_DOI,@cd_rep_doi.length)

%form{:action=>url("/revision/#{@revision[:id]}/canonicos_documentos"), :method=>:get,:class=>"form-inline"}
  %div{:class=>"input-group mb-2 mr-sm-2"}
    %input{:type=>:hidden,:name=>:pagina, :value=>@pager.pagina}
    %input{:type=>:hidden,:name=>:orden, :value=>@pager.orden}
    %label{:class=>"", :for=>:busqueda}=t(:Search)
    %input{:type=>:text, :value=>@pager.busqueda, :name=>:busqueda, :class=>"form-control"}
    .form-group-inline
      %label{:for=>:sin_abstract}=t(:Check_only_documents_without_abstract)
      %input{:type=>:checkbox, :name=>:sin_abstract, :class=>"form-control-checkbox", :value=>'true',:checked=>@sin_abstract}
    .form-group-inline
      %label{:for=>:solo_registros}=t(:Check_only_documents_on_search_no_references)
      %input{:type=>:checkbox, :name=>:solo_registros, :class=>"form-control-checkbox", :checked=>@solo_registros, :value=>'true'}
  %input{:type=>:submit, :class=>'btn btn-default '}
%div{:class=>"btn-group btn-group-sm", :role=>"group"}
  - if permiso("documentos_canonicos_editar")  or revision_pertenece_a(@revision.id, session['user_id'])
    %a{:href=>url("/revision/#{@revision.id}/canonicos_documentos_repetidos"), :role=>'button', :class=>"btn btn-default"}=t(:Check_duplications)
  - if permiso("documentos_canonicos_editar")  or revision_pertenece_a(@revision.id, session['user_id'])
    %a{:href=>url("/referencias/completar_canonicos"), :role=>'button', :class=>"btn btn-default", :tooltip=>"Se revisan todas las referencias con DOI y se le une al canónico correspondiente"}
      %span{:class=>""}
      =t(:References_assign_canonical_documents)
  - if permiso("documentos_canonicos_editar")  or revision_pertenece_a(@revision.id, session['user_id'])
    %a{:href=>url("/canonicos_documentos/revision/#{@revision.id}/completar_abstract_scopus")   , :role=>'button', :class=>"btn btn-default"}
      %span{:class=>""}
      =t(:Complete_abstract_using_Scopus)
  - if permiso("documentos_canonicos_editar")  or revision_pertenece_a(@revision.id, session['user_id'])
    %a{:href=>url("/canonicos_documentos/revision/#{@revision.id}/categorizar_automatico")   , :role=>'button', :class=>"btn btn-default"}
      %span{:class=>""}
      =t(:Automatic_categories)
  %a{:href=>url("/revision/#{@revision.id}/canonicos_documentos_graphml"),  :role=>'button', :class=>"btn btn-default"}
    %span{:class=>"glyphicon glyphicon-save"}
    =t(:Export_to_Graphml)
  %a{:href=>url("/revision/#{@revision.id}/bibtex_resueltos"),  :role=>'button', :class=>"btn btn-default"}
    %span{:class=>"glyphicon glyphicon-save"}
    =t(:Export_to_Bibtex)

%p
  %strong="#{t(:Count_search_documents)}:"
  =@cds_total


.btn-group
  -@criterios_orden.each do |crit_orden,crit_nombre|
    -["asc","desc"].each do |dir|
      -arrow_dir =  dir=="asc" ? "up" : "down"
      -if @pager.orden!="#{crit_orden}__#{dir}"
        %a{:href=>url("/revision/#{@revision[:id]}/canonicos_documentos?busqueda=#{@busqueda}&orden=#{crit_orden}__#{dir}"), :class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
      -else
        %button{:class=>"btn btn-primary btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre


= partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page,:extra=>{busqueda:@pager.busqueda, sin_abstract:@sin_abstract, solo_registros:@solo_registros}} )
.list-group
  - #$log.info(@cds)
  - @cds.each do |cd|
    .list-group-item
      =CGI::escapeHTML cd.ref_apa_6_breve
      - #%p=sprintf("<strong>Referencias:</strong> citado por %d / referencia a %d", @ars.cd_count_entrada(cd[:id]).to_i, @ars.cd_count_salida(cd[:id]).to_i)
      %p=sprintf("<strong>Referencias canónicas:</strong> citado por %d / referencia a %d / citado por %d RTR ", cd[:n_total_referencias_recibidas].to_i, cd[:n_total_referencias_hechas].to_i, cd[:n_referencias_rtr].to_i )

      %div
        =partial(:canonico_documento_boton,:locals=>{:id=>cd.id})
        -if !cd[:abstract].nil? and cd[:abstract]!=""
          %button{:class=>"btn btn-primary btn-sm", :type=>"button",  "data-toggle"=>'collapse', "data-target"=>"#cd#{cd[:id]}", "aria-expanded"=>"false", "aria-controls"=>"cd#{cd[:id]}"}Abstract
          %div{:class=>"collapse", :id=>"cd#{cd[:id]}"}
            .well=cd[:abstract]


= partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page,:extra=>{busqueda:@pager.busqueda, sin_abstract:@sin_abstract, solo_registros:@solo_registros}} )