%h2="Documentos Canónicos para Revisión #{@revision.nombre}: Repetidos"
:javascript
  $(document).ready(function() {
    $(".unir_cd_por_doi").click(function() {

      var doi=$(this).attr("data-doi");
      var pk_ids=$(this).attr("data-pk");
      var div_i=$(this).attr("data-i");
      var boton=$(this);
      boton.prop('disabled',true);

      //console.log(doi);
      //console.log(pk_ids);
      $.post("#{url('/canonico_documento/unir')}",{doi:doi, pk_ids:pk_ids},function() {
        $("#doi-"+div_i).hide()
      }).fail(function() {
            boton.prop('disabled',false)
        alert("No funciono la union")
      })
    });
  });
%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/revision/#{@revision.id}/canonicos_documentos")} Documentos canónicos
  %li
    %a{:href=>url("/revision/#{@revision.id}/canonicos_documentos_repetidos")} Análisis repetidos

%p
  %strong Número de documentos canónicos:
  = @cd_total
%p
  %strong DOI repetidos:
  = @cd_rep_doi.length

%h3 Repetidos por DOI

- if @cd_por_doi.length>0
  - i=0
  - @cd_por_doi.each_pair do |doi, cds_id|
    - i=i+1
    %div{:class=>"panel panel-default", :id=>"doi-#{i}"}
      .panel-heading="DOI: #{doi}"
      .panel-body
        %button{:class=>"btn btn-default unir_cd_por_doi", "data-i"=>i, "data-doi"=>doi, "data-pk"=>cds_id.join(",") }Unir
      %ul.list-group
        - cds_id.each do |cd_id|
          %li.list-group-item=@cd_hash[cd_id].ref_apa_6
- else
  %em No hay DOI duplicados