.header=t_systematic_review_title(@revision[:nombre], :Systematic_review_stage_review_references)
%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li{:class=>:active}=t(:Review_references)

.well
  =t("review_references.objective")

:javascript
  $(document).ready(function() {
    actualizar_decision('revision_referencias');
    }
  );

=partial(:systematic_review_info, :locals=>{systematic_review: @revision})

%h3=t(:Review_status)
%p=t_desc_value(:Count_total_documents_to_review, sprintf("%d", @cds_total))

%form{:action=>url("/revision/#{@revision[:id]}/revision_referencias"), :method=>:get,:class=>"form-check", :enctype=>"multipart/form-data"}
  %input{:type=>:hidden,:name=>:pagina, :value=>@pager.pagina}
  %input{:type=>:hidden,:name=>:orden, :value=>@pager.orden}
  %table.reporte
    %thead
      - Decision::N_EST.values.each do |k|
        %th=t(k)
    %tbody
      %tr
        - Decision::N_EST.keys.each do |k|
          %td=@ads.total_decisiones[k].to_i
      %tr
        - Decision::N_EST.keys.each do |k|
          - checked= @pager.busqueda.nil?  ? false :  ( @pager.busqueda.include?(k) )
          %td
            %input{:type=>:radio,  :class=>"form-check-input",:name=>"busqueda", :value=>k, :checked=> checked }
      %tr
        %td{:colspan=>Decision::N_EST.keys.length}
          %input{:type=>"submit", :class=>"btn btn-default", :value=>t(:Filter)}
- if @pager.busqueda
  %p=t_desc_value(:Count_documents_search, @cds_total)

.btn-group
  -@criterios_orden.each do |crit_orden,crit_nombre|
    -["asc","desc"].each do |dir|
      -arrow_dir =  dir=="asc" ? "up" : "down"
      -if @pager.orden!="#{crit_orden}__#{dir}"
        %a{:href=>url("/revision/#{@revision[:id]}/revision_referencias?busqueda=#{@pager.busqueda}&orden=#{crit_orden}__#{dir}"), :class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
      -else
        %button{:class=>"btn btn-primary btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
- if @ads.total_decisiones[Decision::NO_DECISION].to_i==0
  %p
    %strong=t("review_references.stage_complete_message")


=partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})
.list-group
  - @cds.each do |cd|
    %div{:id=>"decision-cd-#{cd[:id]}"}
      =partial(:decision, :locals=>{ revision_id: @revision[:id], cd: cd, decisiones: @decisiones, ars: @ars, usuario_id: @usuario_id, etapa: "revision_referencias"})
=partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})