.page-header
  %h2=t(:Systematic_review_stage_full_text, sr_name:@revision[:nombre])
%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li{:class=>:active}=t(:Review_full_text)

.well
  =t("review_full_text.objective")


:javascript
  $(document).ready(function() {
    actualizar_decision('revision_referencias');
    }
  );


=partial(:systematic_review_info, :locals=>{systematic_review: @revision})

%h3=t(:Review_status)
%p=t_desc_value(:Count_total_documents_to_review, sprintf("%d", @cds_total))

%form{:action=>url("/revision/#{@revision[:id]}/revision_texto_completo"), :method=>:get,:class=>"form-check", :enctype=>"multipart/form-data"}
  %input{:type=>:hidden,:name=>:pagina, :value=>@pager.pagina}
  %input{:type=>:hidden,:name=>:orden, :value=>@pager.orden}
  %table.reporte
    %thead
      - Decision::N_EST.values.each do |k|
        %th=t(k)
    %tbody
      %tr
        - Decision::N_EST.keys.each do |k|
          %td=@ads.total_decisiones[k].to_i
      %tr
        - Decision::N_EST.keys.each do |k|
          - checked= @pager.busqueda.nil?  ? false :  ( @pager.busqueda.include?(k) )
          %td
            %input{:type=>:radio,  :class=>"form-check-input",:name=>"busqueda", :value=>k, :checked=> checked }
      %tr
        %td{:colspan=>Decision::N_EST.keys.length}
          %input{:type=>"submit", :class=>"btn btn-default", :value=>"Filtrar"}
- if @pager.busqueda
  %p
    %strong Número documentos búsqueda:
    =@cds_total

.btn-group
  -@criterios_orden.each do |crit_orden,crit_nombre|
    -["asc","desc"].each do |dir|
      -arrow_dir =  dir=="asc" ? "up" : "down"
      -if @pager.orden!="#{crit_orden}__#{dir}"
        %a{:href=>url("/revision/#{@revision[:id]}/revision_texto_completo?busqueda=#{@pager.busqueda}&orden=#{crit_orden}__#{dir}"), :class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
      -else
        %button{:class=>"btn btn-primary btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
- if @ads.total_decisiones[Decision::NO_DECISION].to_i==0
  %p
    %strong Ha concluido la segunda fase de revision de referencias.


= partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})
.panel
  - @cds.each do |cd|
    - decision_o=@decisiones[cd[:id]]
    - decision = decision_o ? decision_o[:decision] : nil
    - asignacion_o=@asignaciones[cd[:id]]
    - clase_panel=decision_class_bootstrap(decision,"panel")
    .list-group-item{:class=>clase_panel}
      .row
        .col-md-8=CGI::escapeHTML cd.ref_apa_6
        .col-md-4
          %p=t_desc_value(:Decision, t(Decision.get_name_decision(decision)))
          - if asignacion_o
            %p=t_desc_value(:Assignation_status, asignacion_o[:estado])
            %p=t_desc_value(:Assignation_instructions, asignacion_o[:instrucción] ? asignacion_o[:instrucción] : t(:No_assignation_instructions))
          - else
            %em=t(:Not_assigned)


= partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})