.page-header
  %h2=t(:Systematic_review_stage_review_title_abstract, sr_name:@revision[:nombre])
%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li{:class=>:active}=t(:Review_title_and_abstract)

.well
  =t("review_title_and_abstract.objective")

:javascript
  $(document).ready(function() {
    actualizar_decision('revision_titulo_resumen');
    }
  );

=partial(:systematic_review_info, :locals=>{systematic_review: @revision})

%h3=t(:Review_status)
%p=t_desc_value(:Count_total_documents_to_review, sprintf("%d", @cds_total))

%form{:action=>url("/revision/#{@revision[:id]}/revision_titulo_resumen"), :method=>:get,:class=>"form-check", :enctype=>"multipart/form-data"}
  %input{:type=>:hidden,:name=>:orden, :value=>@orden}
  %table.reporte
    %thead
      - Decision::N_EST.values.each do |k|
        %th=t(k)
    %tbody
      %tr
        - Decision::N_EST.keys.each do |k|
          %td=@ads.total_decisiones[k].to_i
      %tr
        - Decision::N_EST.keys.each do |k|
          - checked= @busqueda.nil?  ? false :  ( @busqueda.include?(k) )
          %td
            %input{:type=>:radio,  :class=>"form-check-input",:name=>"busqueda", :value=>k, :checked=> checked }
      %tr
        %td{:colspan=>Decision::N_EST.keys.length}
          %input{:type=>"submit", :class=>"btn btn-default", :value=>t(:Filter)}
- if @busqueda
  %p=t_desc_value(:Count_documents_search, @cds_total)

- if @ads.total_decisiones[Decision::NO_DECISION].to_i==0
  %p
    %strong=t("review_title_and_abstract.stage_complete_message")

= partial(:pager,:locals=>{url: @url, pagina: @pagina, max_page: @max_page, :extra=>{busqueda:@busqueda}})
.list-group
  - @cds.each do |cd|
    %div{:id=>"decision-cd-#{cd[:id]}"}
      =partial(:decision, :locals=>{ revision_id: @revision[:id], cd: cd, decisiones: @decisiones, ars: @ars, usuario_id: @usuario_id, etapa: "revision_titulo_resumen"})
= partial(:pager,:locals=>{url: @url, pagina: @pagina, max_page: @max_page, :extra=>{busqueda:@busqueda}})
