- # params cd, ars, review_id o review
- ars||=nil
- abs_pres=AbstractPresentation.new
- review||=SystematicReview[review_id]
- abs_pres.keywords =review.keywords_as_array

%div{:class=>"panel-heading"}
  =CGI::escapeHTML cd.title
%div{:class=>"panel-body"}
  %p
    %strong="#{t(:APA_Reference)}:"
    =CGI::escapeHTML cd.ref_apa_6
    -unless ars.nil?
      - text_references=sprintf("<strong>#{t(:Citations)}</strong>: #{t(:this_document_cites)}&nbsp;<strong>%d</strong> / #{t(:this_document_cited_by)}&nbsp;<strong>%d</strong> ", ars.cd_count_outgoing(cd[:id]).to_i, ars.cd_count_incoming(cd[:id]).to_i)
      - if ars.cd_count_incoming_sta(cd[:id])
        -text_references+=sprintf("/ #{t(:this_document_cited_by_rta_document)}&nbsp;<strong>%d</strong>", ars.cd_count_incoming_sta(cd[:id]).to_i)
      %p=text_references
  %p{:class=>""}
    %strong=t(:Abstract)
    - if !cd.abstract
      %em=t(:No_abstract)
    -else
      -#$log.info(cd)
      -abs_pres.text=cd.abstract
      -#$log.info(abs_pres)
      =abs_pres.html_with_keywords