- # parametros: revision, cd
- usuarios_grupos=revision.group_users
- user_asignaciones=Asignacion_Cd.where(:revision_sistematica_id=>revision[:id], :canonico_documento_id=>cd[:id], :etapa=>stage ).to_hash(:usuario_id)
- if @usuario_asignaciones_js.nil?
  - @usuario_asignaciones_js=true
  %script{:type=>'text/javascript', :src=>url('/js/asignacion_usuarios.js')}

%ul.asignaciones
  -usuarios_grupos.each do |user|
    - clase_asignar = !user_asignaciones[user[:id]].nil? ? "hidden" : ""
    - clase_desasignar = !user_asignaciones[user[:id]].nil? ? "" : "hidden"
    %li.asignacion-user
      / Asignación
      =user[:nombre]
      %span{:class=>clase_asignar, :id=>"usuario-asignar-#{revision[:id]}-#{cd[:id]}-#{user[:id]}-#{stage}"}
        %button{:class=>"btn btn-success btn-xs usuario_asignar", "data-rsid"=>revision[:id], "data-cdid"=>cd[:id], "data-uid"=>user[:id], "data-stage"=>stage}
          %span.glyphicon.glyphicon-hand-up
      %span{:class=>clase_desasignar, :id=>"usuario-desasignar-#{revision[:id]}-#{cd[:id]}-#{user[:id]}-#{stage}"}
        =a_editable(user[:id], "asignacion-instruccion-#{user[:id]}-#{revision[:id]}-#{cd[:id]}-#{stage}", "/assignation/user/#{user[:id]}/review/#{revision[:id]}/cd/#{cd[:id]}/stage/#{stage}/edit_instruction", user_asignaciones[user[:id]] ? user_asignaciones[user[:id]][:instruccion] : nil, t(:set_instructions))
        %button{:class=>"btn btn-warning btn-xs usuario_desasignar", "data-rsid"=>revision[:id], "data-cdid"=>cd[:id], "data-uid"=>user[:id], "data-stage"=>stage}
          %span.glyphicon.glyphicon-hand-down
