-# decision, review, crit_type, cd, user_id, cd_criteria
-if review.criteria_hash[crit_type].nil?
  =t("Criteria_no_#{crit_type}")
-else
  %strong=t("Criteria_#{crit_type}")
  %table.table.table-condensed
    - review.criteria_hash[crit_type].each do |val|
      %tr
        %td=val[:text]
        %td
          %input.criteria_cd_user{:type=>:checkbox, :id=>"cd_criterions-#{review[:id]}-#{cd[:id]}-#{user_id}-#{val[:id]}",
                  :checked=>(cd_criteria[val[:id]] and cd_criteria[val[:id]][:selected]),
                  :data=>{sr_id:review[:id], cd_id:cd[:id], user_id:user_id, criterion_id:val[:id], url:url("/review/criteria/cd")}}
