- n_cuenta=sr.cd_id_por_etapa(etapa).count
%p=t_desc_value("user_dashboard.count_total_canonical_documents_stage", n_cuenta)
- if permiso("ver_reportes")
  .btn-group.btn-group-sm
    %a.btn.btn-default{:href=>"/review/#{sr[:id]}/report/PRISMA/html"}=t(:PRISMA_flow_diagram)
    %a.btn.btn-default{:href=>"/review/#{sr[:id]}/report/fulltext/html"}=t(:Full_text_report)
    %a.btn.btn-default{:href=>"/review/#{sr[:id]}/report/process/html"}=t(:Process_report)
    -if n_cuenta>0
      %a.btn.btn-default{:href=>"/review/#{sr[:id]}/stage/#{etapa}/generate_bibtex"}=t(:Export_to_Bibtex)
      %a.btn.btn-default{:href=>"/review/#{sr[:id]}/stage/#{etapa}/generate_graphml"}=t(:Export_to_Graphml)