- #params sr, user, udi
- sv=SearchValidator.new(sr,user)
- sv.validate
- if is_administrator
  %p
    %a{:href=>"/review/#{sr[:id]}/administration/#{stage}"}
      %snap.glyphicon.glyphicon-tower
      =t_desc_value("user_dashboard.count_total_searches", sr.searches.count)
- else
  %p=t_desc_value("user_dashboard.count_total_searches", sr.searches.count)
- if   sr.searches.count == 0
  %p
    =t("user_dashboard.no_searches_available")
- else
  %p
    =t_desc_value("user_dashboard.count_records_not_ready", a_tag("/review/#{sr[:id]}/searches/records/user/#{user[:id]}", t("user_dashboard.check_n_not_ready_records", count: sv.invalid_records_n)))
    - if sv.invalid_records_n>0
      %span.label.label-warning=t(:pending)
.btn-group.btn-group-sm
  =partial(:buttons_new_search, :locals=>{user: user, sr: sr  })
  -if is_administrator
    %a.btn.btn-default{:href=>"/review/#{sr.id}/administration/search", :id=>"dashboard-#{sr[:id]}-administrator"}
      %snap.glyphicon.glyphicon-tower
      =t(:Administration)
