- if es_administrador
  %p
    %a{:href=>"/revision/#{sr[:id]}/administracion/#{etapa}"}
      %snap.glyphicon.glyphicon-tower
      =t_desc_value("user_dashboard.count_total_searchs", sr.busquedas.count)
- else
  %p=t_desc_value("user_dashboard.count_total_searchs", sr.busquedas.count)
%p=t_desc_value("user_dashboard.count_search_not_ready", a_tag("/revision/#{sr[:id]}/busquedas/user/#{user[:id]}", t("user_dashboard.check_n_not_ready_search", count: @udi.searchs_not_ready(sr[:id]).count)))
- if permiso("crear_busqueda_revision")
  %a.btn.btn-default.btn-sm{:role=>:button, :href=>"/revision/#{sr[:id]}/busqueda/nuevo"}
    %span.glyphicon.glyphicon-plus
    =t("user_dashboard.search_new")
