- if es_administrador
  %p
    %a{:href=>"/review/#{sr[:id]}/administration/#{etapa}"}
      %snap.glyphicon.glyphicon-tower
      =t_desc_value("user_dashboard.count_total_searchs", sr.busquedas.count)
- else
  %p=t_desc_value("user_dashboard.count_total_searchs", sr.busquedas.count)
%p=t_desc_value("user_dashboard.count_search_not_ready", a_tag("/review/#{sr[:id]}/searchs/user/#{user[:id]}", t("user_dashboard.check_n_not_ready_search", count: @udi.searchs_not_ready(sr[:id]).count)))
- if auth_to("review_analyze") and user.revisiones_sistematicas_id.include? sr[:id]
  %a.btn.btn-default.btn-sm{:role=>:button, :href=>"/review/#{sr[:id]}/search/new"}
    %span.glyphicon.glyphicon-plus
    =t("user_dashboard.search_new")
