- # Parametros: review, cd (canonical_document) | decisions | ars | user_id | stage)
- decision_o=decisions[cd[:id]]
- decision = decision_o ? decision_o[:decision] : nil
- clase_panel=decision_class_bootstrap(decision,"panel")
- abs_pres=AbstractPresentation.new
- #@nbayes_rs||=NBayes_RS.new(revision)
- ajax||=false
- abs_pres.keywords =review.keywords_as_array

- only_buttons||=false
- class_buttons  = only_buttons ? "panel-body" : "panel-footer"
%div{:class=>"panel #{clase_panel}"}
  - if !only_buttons
    %div{:class=>"panel-heading"}
      =CGI::escapeHTML cd.title
    %div{:class=>"panel-body"}
      %p
        %strong="#{t(:APA_references)}:"
        =CGI::escapeHTML cd.ref_apa_6

        - text_references=sprintf("<strong>#{t(:Citations)}:</strong> #{t(:cites)} <strong>%d</strong> / #{t(:cited_by)} <strong>%d</strong> ", ars.cd_count_salida(cd[:id]).to_i, ars.cd_count_entrada(cd[:id]).to_i)
        - if ars.cd_count_entrada_rtr(cd[:id])
          -text_references+=sprintf("/ #{t(:cited_by_RTR_documents)} <strong>%d</strong>", ars.cd_count_entrada_rtr(cd[:id]).to_i)
        %p=text_references
      %p{:class=>""}
        %strong=t(:Abstract)
        - if !cd.abstract
          %em=t(:No_abstract)
        -else
          -#$log.info(cd)
          -abs_pres.text=cd.abstract
          -#$log.info(abs_pres)
          =abs_pres.html_with_keywords
      -if auth_to("review_admin")
        =partial(:canonical_document_button, :locals=>{id: cd[:id]})
      -if false and @nbayes_rs.cd_resultado(cd[:id])["no"]>0.5
        %div{:class=>"alert alert-warning"} Según el clasificar bayes, este text no se asemeja mucho a los seleccionados previamente


  %div{:class=>class_buttons}
    =partial(:decision_buttons, :locals=>{decisions:decisions, cd:cd, user_id:user_id, stage:stage, review:review, ajax:ajax, only_buttons:only_buttons})