-# review, decision, cd, user_id, stage, ajax
- review_id = review[:id]
- ajax||=ajax
- decision_o=decisions[cd[:id]]
- decision = decision_o ? decision_o[:decision] : nil
- cd_criteria=CdCriterion.where(systematic_review_id:review[:id], canonical_document_id:cd[:id], user_id:user_id).to_hash(:criterion_id)
.container-fluid
  .row
    .col-md-12
      %strong=t(:Decision)
      .btn-group
        - crits={'yes'=>{bs:'success',name:t(:Yes)}, 'no'=>{bs:'danger',name:t(:No)}, 'undecided'=>{bs:'warning',name:t(:Undecided)}}
        - crits.each_pair do |dec_id, crit|
          -cbc=class_bootstrap_contextual( decision==dec_id, 'btn',crit[:bs] )
          -dc_dec= (decision==dec_id) ? '' : 'dc_decision'
          %button{:class=>"btn #{cbc} #{dc_dec}", "data-onlybuttons"=>only_buttons ? "1":"0" ,
          "data-pk"=>cd[:id], "data-decision"=>dec_id, "data-user"=>user_id, "data-stage"=>stage,
          :id=>"decision-#{cd[:id]}-#{dec_id}",
          'data-url'=>"/decision/review/#{review_id}/user/#{user_id}/canonical_document/#{cd[:id]}/stage/#{stage}/decision"}=crit[:name]
  -if decision
    .row
      .col-md-12
        =partial(:criteria_cd, :locals=>{decision:decision, review:review, cd:cd, user_id:user_id, cd_criteria:cd_criteria})

  .row
    .col-md-12
      %strong="#{t(:Commentary)}:"
      =a_textarea_editable(cd[:id],
        "commentary-cd",
        url("/decision/review/#{review_id}/user/#{user_id}/canonical_document/#{cd[:id]}/stage/#{stage}/commentary"), decision_o  ?  decision_o.commentary : nil,
        t(:Enter_commentary))
  .row
    .col-md-12
      %strong=t(:Tags)
  .row
    .col-md-12
      =partial("tags/tags_cd_rs", :locals=>{cd: cd, review:review,user_id:user_id, ajax:ajax})