- # Parametros: review, cd (canonical_document) | decisions | ars | user_id | stage)

- if @decision_js.nil?
  %script{:type=>'text/javascript', :src=>url('/js/decision.js')}
  :javascript
    $(document).ready(function() {
      actualizar_decision('#{stage}');
    });

  - @decision_js=true
- decision_o=decisions[cd[:id]]
- decision = decision_o ? decision_o[:decision] : nil
- clase_panel=decision_class_bootstrap(decision,"panel")
- abs_pres=AbstractPresentation.new
- ajax||=false
- abs_pres.keywords =review.keywords_as_array
- url_base="/review/#{review[:id]}/canonical_document/#{cd[:id]}"
- only_buttons||=false
- class_buttons  = only_buttons ? "panel-body" : "panel-footer"
%div{:class=>"panel #{clase_panel}"}
  - if !only_buttons
    %div{:class=>"panel-heading"}
      -if cd.title.nil?
        Sin título
      -else
        =CGI::escapeHTML cd.title
    %div{:class=>"panel-body"}
      %p
        %strong="#{t(:APA_references)}:"
        =CGI::escapeHTML cd.ref_apa_6

        - text_references=sprintf("<strong>#{t(:Citations)}:</strong> #{t(:cites)} <strong><a href='#{url_base}/cites'>%d</a> </strong> / #{t(:cited_by)} <strong><a href='#{url_base}/cited_by'>%d</a></strong> ", ars.cd_count_outgoing(cd[:id]).to_i, ars.cd_count_incoming(cd[:id]).to_i)
        - if ars.cd_count_incoming_sta(cd[:id])
          -text_references+=sprintf("/ #{t(:cited_by_RTR_documents)} <strong><a href='#{url_base}/cited_by_rtr'>%d</a></strong>", ars.cd_count_incoming_sta(cd[:id]).to_i)
        %p=text_references
      %p{:class=>""}
        %strong=t(:Abstract)
        - if !cd.abstract
          %em=t(:No_abstract)
        -else
          -abs_pres.text=cd.abstract
          =abs_pres.html_with_keywords
      -if auth_to("review_admin")
        =partial(:canonical_document_button, :locals=>{id: cd[:id], review:review})

  %div{:class=>class_buttons}
    =partial(:decision_buttons, :locals=>{decisions:decisions, cd:cd, user_id:user_id, stage:stage, review:review, ajax:ajax, only_buttons:only_buttons})