- # Parametros: revision_id, cd (canonico_documento) | decisiones | ars | usuario_id | etapa)
- decision_o=decisiones[cd[:id]]
- decision = decision_o ? decision_o[:decision] : nil
- clase_panel=decision_class_bootstrap(decision,"panel")
- abs_pres=AbstractPresentation.new
- @revision||=Revision_Sistematica[revision_id]
- @nbayes_rs||=NBayes_RS.new(@revision)
- abs_pres.keywords =@revision.palabras_claves_as_array


%div{:class=>"panel #{clase_panel}"}
  %div{:class=>"panel-heading"}
    =CGI::escapeHTML cd.title
  %div{:class=>"panel-body"}
    %ul.list-group
      %li{:class=>"list-group-item"}
        %strong Autores
        =CGI::escapeHTML cd.authors_apa_6
      %li{:class=>"list-group-item"}
        %strong Año
        =cd.year
      %li{:class=>"list-group-item"}
        %strong Revista
        =sprintf("%s, %s, %s", cd.journal, cd.volume, cd.pages)
      - texto_referencias=sprintf("<strong>Referencias:</strong> referencia a <strong>%d</strong> / citado por <strong>%d</strong> ", ars.cd_count_salida(cd[:id]).to_i, ars.cd_count_entrada(cd[:id]).to_i)
      - if ars.cd_count_entrada_rtr(cd[:id])
        -texto_referencias+=sprintf("/ citado desde textos RTR por <strong>%d</strong>", ars.cd_count_entrada_rtr(cd[:id]).to_i)
      %li{:class=>"list-group-item"}=texto_referencias
    %p{:class=>""}
      %strong Resumen
      - if !cd.abstract
        %em Sin abstract
      -else
        -#$log.info(cd)
        -abs_pres.text=cd.abstract
        -#$log.info(abs_pres)
        =abs_pres.html_with_keywords
    -if permiso("documentos_canonicos_editar")
      =partial(:canonico_documento_boton, :locals=>{id: cd[:id]})
    -if @nbayes_rs.cd_resultado(cd[:id])["no"]>0.5
      %div{:class=>"alert alert-warning"} Según el clasificar bayes, este texto no se asemeja mucho a los seleccionados previamente


  %div{:class=>"panel-footer"}
    %strong Decisión:
    .btn-group
      - crits={'yes'=>{bs:'success',nombre:'Sí'}, 'no'=>{bs:'danger',nombre:'No'}, 'undecided'=>{bs:'warning',nombre:'Indeciso'}}
      - crits.each_pair do |dec_id, crit|
        -cbc=class_bootstrap_contextual( decision==dec_id, 'btn',crit[:bs] )
        -dc_dec= (decision==dec_id) ? '' : 'dc_decision'
        %button{:class=>"btn #{cbc} #{dc_dec}", "data-pk"=>cd[:id], "data-decision"=>dec_id, "data-user"=>usuario_id, "data-etapa"=>etapa ,:id=>"decision-#{cd[:id]}-#{dec_id}", 'data-url'=>"/decision/revision/#{revision_id}/usuario/#{usuario_id}/canonico_documento/#{cd[:id]}/etapa/#{etapa}/decision"}=crit[:nombre]
    %div
      %strong Comentario:
      =a_textarea_editable(cd[:id], "comentario-cd", url("/decision/revision/#{revision_id}/usuario/#{usuario_id}/canonico_documento/#{cd[:id]}/etapa/#{etapa}/comentario"), decision_o  ?  decision_o.comentario : nil, "Ingresar comentario")
