- # Params: usuario, mensaje_rs
- message_type||='received'
- mensaje_rs_visto=Mensaje_Rs_Visto[:visto=>true,:m_rs_id=>mensaje_rs.id, :usuario_id=>usuario.id]
- mensajes_hijos=Mensaje_Rs.where(:respuesta_a=>mensaje_rs.id).order(Sequel.desc(:tiempo))
- clase_marcar =!mensaje_rs_visto  ? "" : "hidden"
- clase_visto  = mensaje_rs_visto ? "" : "hidden"
- if @mensaje_rs_js.nil?
  :javascript
    $(document).ready(function() {

      $(".toggle-mensaje").click(function() {
        var id=$(this).attr("id_toggle");
        var id_glyph=$(this).attr("id_glyph");

        $("#"+id).toggleClass("hidden");
        $("#"+id_glyph).toggleClass("glyphicon-eye-close").toggleClass("glyphicon-eye-open");


      });

      $(".responder-mensaje").click(function() {
        var id=$(this).attr("id_mostrar");
        $("#"+id).removeClass("hidden")
      });
      $(".marcar-visto").click(function() {
        var id=$(this).attr("id");
        var partes=id.split("-");
        var ms_id=partes[1];
        var user_id=partes[3];
        $.post("/message_sr/"+ms_id+"/seen_by/"+user_id, function (data) {
          $("#mensaje_rs-"+ms_id+"-no_visto_por-"+user_id).addClass("hidden");
          $("#mensaje_rs-"+ms_id+"-visto_por-"+user_id).removeClass("hidden");
        }).fail(function () {
              alert("#{t(:Cant_mark_as_read)}")
          });
      });
    });
  - @mensaje_rs_js=true



.list-group-item
  .row
    .col-md-12
      =sprintf("<strong>%s</strong> de %s en %s. Respuestas: <em>%i</em>.", mensaje_rs.asunto, mensaje_rs.usuario_nombre, mensaje_rs.tiempo,mensaje_rs.respuestas.count)
      .mensaje-texto=mensaje_rs.texto
  .row
    .col-md-12
      .btn-group-xs.botones-texto
        %button{:class=>"btn btn-warning marcar-visto #{clase_marcar}",:id=>"mensaje_rs-#{mensaje_rs.id}-no_visto_por-#{usuario[:id]}"}
          %span.glyphicon.glyphicon-inbox
          =t("messages.Mark_as_read")
        %button{:class=>"btn btn-success #{clase_visto}", :id=>"mensaje_rs-#{mensaje_rs.id}-visto_por-#{usuario[:id]}"}
          %span.glyphicon.glyphicon-check
          =t("messages.Read")
        %button.btn.btn-default.responder-mensaje{:role=>:button,:id_mostrar=>"mensaje-rs-#{mensaje_rs.id}-respuesta"}
          %span.glyphicon.glyphicon-arrow-left
            =t("messages.Reply")
        - if !mensajes_hijos.empty?
          %button.btn.btn-default.toggle-mensaje{:role=>:button,:id_toggle=>"mensaje_rs-#{message_type}-#{mensaje_rs.id}-hijos", :id_glyph=>"mensaje-#{mensaje_rs.id}-glyph-toggle"}
            %span.glyphicon.glyphicon-eye-open{:id=>"mensaje-#{mensaje_rs.id}-glyph-toggle"}
              =t("messages.Expand")
  .row.hidden{:id=>"mensaje-rs-#{mensaje_rs.id}-respuesta"}
    .col-md-10
      %form.respuesta-a-m_rs{:method=>"post",:action=>url("/message_sr/#{mensaje_rs.id}/reply")}
        .form-group
          %label{:for=>"nombre"}=t(:Author)
          %p=usuario[:nombre]
          %input{:type=>"hidden",:name=>:user_id, :value=>usuario[:id]}
        .form-group
          %label{:for=>"asunto"}=t(:Subject)
          %input{:class=>"form-control",:type=>"text", :name=>"asunto", :value=>"Re:#{mensaje_rs.asunto}"}
        .form-group
          %label{:for=>"texto"}=t(:Text)
          %textarea{:class=>"form-control",:name=>'texto'}
        %input{:type=>:submit, :value=>t(:Send_message_to_group), :class=>"btn btn-default"}
  - if !mensajes_hijos.empty?
    .row{:id=>"mensaje_rs-#{message_type}-#{mensaje_rs.id}-hijos", :class=>'hidden'}
      .col-md-12
        .list-group
          - mensajes_hijos.each do |mensaje_rs_hijo|
            =partial(:message_sr, :locals=>{:mensaje_rs=>mensaje_rs_hijo,:usuario=>usuario, :message_type=>message_type})
