- # Parámetros: url, pagina, max_page y extra como hash
- extra||=nil
- query_l= extra.nil? ? "" :  "&"+URI.encode_www_form(extra)
%nav{"aria-label"=>"Page navigation"}
  %ul.pagination
    %li{:class=>pagina==1 ? 'disabled': ''}
      %a{:href=>url("#{url}?pagina=#{pagina-1}#{query_l}")}!='&laquo;'
    - 1.upto(max_page).each do |i|
      %li{:class=> i==pagina ? 'active': '' }
        %a{:href=>url("#{url}?pagina=#{i}#{query_l}")}=i
    %li{:class=>"#{pagina>=max_page ? 'disabled': ''}"}
      %a{:href=>url("#{url}?pagina=#{pagina+1}#{query_l}")}!='&raquo;'