:javascript
  $(document).ready(function(x) {
    $(".show-on-focus").mouseover(function(e) {
      $(this).children(".buttons-record").removeClass("hidden");

    });
    $(".show-on-focus").mouseout(function(e) {
      $(this).children(".buttons-record").addClass("hidden");

    });
  });
- btn_show||=false
- search||=nil
- show_files = (!search.nil? and search.is_type?(:uploaded_files))
- if show_files
  - modal_files=get_modal_files
  = modal_files.javascript_header
  = modal_files.html_modal

- bb=BibliographicDatabase.id_a_name_h
%p=t_desc_value(:Count_records, records.count)
.list-group
  - i=1
  - records.each do |registro|
    .list-group-item{:class=>btn_show ? "": "show-on-focus"}
      - can_doc=registro.canonical_document
      - if can_doc.nil?
        %span.alert.alert-danger=t(:No_canonical_document)
      - else
        = can_doc.ref_apa_6_brief_html
      %span.buttons-record{:class=>btn_show ? "":"hidden"}
        - if !registro[:doi] and auth_to("crossref_query")
          %a.btn.btn-default.btn-sm{:href=>url("/record/#{registro[:id]}/search_crossref")}
            %span{:class=>"glyphicon glyphicon-search"}
            Crossref
        - if registro[:canonical_document_id]
          =partial(:canonical_document_button, :locals=>{:id=>registro[:canonical_document_id]})
        - if show_files
          -search_record=RecordsSearch[:record_id=>registro.id, :search_id=>search.id]
          -if search_record[:file_id]
            =modal_files.buttons(IFile[search_record[:file_id]] )
        - if search
          %a.btn.btn-default.btn-sm{:href=>url("/search/#{search[:id]}/record/#{registro[:id]}")}=t(:Record_raw)
        - else
          %a.btn.btn-default.btn-sm{:href=>url("/record/#{registro[:id]}")}=t(:Record_raw)
        -if can_doc[:abstract]!=""
          %button.btn.btn-default.btn-sm{:type=>"button",  "data-toggle"=>'collapse', "data-target"=>"#registro#{registro[:id]}-abstract", "aria-expanded"=>"false", "aria-controls"=>"registro#{registro[:id]}"}=t(:Abstract)
          %div{:class=>"collapse", :id=>"registro#{registro[:id]}-abstract"}
            .well=can_doc[:abstract]

    - i=i+1
