- # Params: tag_estadisticas, revision, stage
- stage||=nil
- tags_estadisticas=revision.tags_estadisticas(stage)

- if @estadisticas_tags_js.nil?
  - @estadisticas_tags_js=true
  %script{:type=>'text/javascript', :src=>url('/js/estadisticas_tags.js')}

%h3=t(:Tags_statistics)
%table.reporte.tablesorter
  %thead
    %th=t(:Tag)
    %th=t(:On_class)
    %th=t(:Documents)
    %th=t(:percent_positive)
    %th=t(:Actions)
  %tbody
    - tags_estadisticas.each do |tag|
      %tr{:id=>"tag-fila-#{tag[:id]}"}
        %td=tag[:text]
        %td=tag[:con_clase]==1 ? "Sí" : "No"
        %td
          - url_link= stage.nil? ? "/tag/#{tag[:id]}/rs/#{revision.id}/cds" : "/tag/#{tag[:id]}/rs/#{revision.id}/stage/#{stage}/cds"
          %a{:href=>url(url_link)}=tag[:n_documents]
        %td=(tag[:p_yes]*100).to_i
        %td
          .btn-group.btn-group-sm
            -if tag[:p_yes]==0
              %button.btn.btn-default.borrar_tag{"tag-pk"=>tag[:id],"rs-pk"=>revision.id}
                %span.glyphicon.glyphicon-remove
                  Borrar