%h2=@title

%ul.breadcrumb
  %li.active
    =@cd.title


:javascript
  $(document).ready(function() {
    buscar_similares_canonico();
  });

%table.reporte
  - [:author, :year,:title,:journal, :volume,:pages,:doi,:pmid,:url].each do |field|
    %tr
      %th=field.capitalize
      %td
        - if auth_to("review_admin")
          =a_editable(@cd[:id], "canonical_document", "/canonical_document/edit_field/#{field}", @cd[field],"")
        -else
          =@cd[field]


%h3=t(:Abstract)
%p
  - if auth_to("review_admin")
    =a_textarea_editable(@cd[:id], "canonical_document", "/canonical_document/edit_field/abstract", @cd[:abstract],"")
  - else
    =@cd[:abstract]

.btn-group
  -if auth_to("scopus_query")
    - if !@cd.abstract
      %a{:href=>url("/canonical_document/#{@cd[:id]}/search_abstract_scopus"), :role=>:button, :class=>"btn btn-default"}=t(:Complete_abstract_using_Scopus)


%h3 Crossref

%p.info=t(:Information_about_this_cd_on_crossref)

.well
  - if @cr_doi
    =@cr_doi.ref_apa_6_brief_html
  - elsif @cd.doi
    - if auth_to("crossref_query")
      %a{:href=>url("/canonical_document/#{@cd[:id]}/get_crossref_data")}
        %button{:class=>"btn btn-primary"}
          =t(:Obtain_information_from_Crossref)
    - else
      =t(:Ask_information_from_Crossref_for_admin)
  - else
    %p
      %em=t(:No_DOI_to_obtain_information_from_Crossref)

%p
-if auth_to("crossref_query") and @cr_doi
  .btn-group.btn-group-sm
    %a{:href=>url("/canonical_document/#{@cd[:id]}/update_using_crossref_info"), :role=>:button, :class=>"btn btn-default btn-sm"}=t(:Update_info_using_crossref)
    %a{:href=>url("/canonical_document/#{@cd[:id]}/search_crossref_references"), :role=>:button, :class=>"btn btn-default btn-sm"}=t(:Add_info_references_using_crossref)
    %a{:href=>url("/canonical_document/#{@cd[:id]}/view_crossref_info"), :role=>:button, :class=>"btn btn-default btn-sm"}=t(:View_DOI_record)


%h3 PubMed

%p.info=t(:Information_about_this_cd_on_pubmed)

.well
  - if @pmc_sum
    =@pmc_sum.ref_apa_6_brief_html
  - elsif @cd.pmid
    - if auth_to("pubmed_query")
      %a{:href=>url("/canonical_document/#{@cd[:id]}/get_pubmed_data")}
        %button{:class=>"btn btn-primary"}
          =t(:Obtain_information_from_Pubmed)
    - else
      =t(:Ask_information_from_Pubmed_for_admin)
  - else
    %p
      %em=t(:No_PMID_to_obtain_information_from_Pubmed)


%p
-if auth_to("pubmed_query") and @pmc_sum
  .btn-group.btn-group-sm
    %a{:href=>url("/canonical_document/#{@cd[:id]}/view_pubmed_info"), :role=>:button, :class=>"btn btn-default btn-sm"}=t(:View_Pubmed_record)



%h3=t("canonical_document.records_on_which_appears")

=partial(:records_list, :locals=>{:records=>@records})

%h3=t("canonical_document.references_on_which_appears")

- if @references.count==0
  %div{:class=>"alert alert-warning"}=t(:Doesnt_appears_on_any_reference)
- else

  .list-group
  - @references.each do |ref|
    %div.list-group-item
      %span{:class=>"badge"}=ref[:n]
      .list-group-item-text
        =ref[:text]
        - if ref[:doi]
          =a_doi(ref[:doi])
        - else
          %a{:href=>url("/reference/#{ref[:id]}/search_crossref")}
            %button{:class=>"btn btn-default btn-sm"}
              %span{:class=>"glyphicon glyphicon-search"}
              =t(:Search_on_Crossref)
        %div{:class=>:small}
          %a{:href=>url("/reference/#{ref[:id]}")}=ref[:id]
%h3=t("canonical_document.references")

=partial(:references_list, :locals=>{:references=>@references_realizadas})

