!!! 5
%html{:lang=>::I18n.locale}
  %head
    %meta{:charset=>'utf-8'}
    %meta{'http-equiv'=>'X-UA-Compatible',:content=>'IE=edge'}
    %meta{:name=>'viewport',:content=>'width=device-width, initial-scale=1'}

    
    %title= @title.nil? ?  t(:App_title) : "#{get_title_head} - #{t(:App_title)}"

    %script{:type=>'text/javascript', :src=>url('/js/jquery-3.1.0.min.js')}
    %script{:type=>'text/javascript', :src=>url('/js/bootstrap.min.js')}
    %script{:type=>'text/javascript', :src=>url('/js/tablesorter-master/jquery.tablesorter.min.js')}
    %script{:type=>'text/javascript', :src=>url('/js/tablesorter-master/addons/pager/jquery.tablesorter.pager.js')}
    %script{:type=>'text/javascript', :src=>url('/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js')}
    %script{:type=>'text/javascript', :src=>url('/js/editable.js')}

    %link{:rel=>'icon', :href=>'/favicon.ico', :type=>"image/x-icon"}
    %link{:rel=>'shortcut icon', :href=>'/favicon.ico', :type=>"image/x-icon"}

    %link{:href=>url('/css/bootstrap.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
    -#%link{:href=>url('/css/bootstrap-theme.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}

    %link{:href=>url('/css/print.css') , :media => 'print', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>url('/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>url('/js/tablesorter-master/addons/pager/jquery.tablesorter.pager.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>url('/js/tablesorter-master/themes/blue/style.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
    -#%link{:href=>url('/css/typeahead.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>url('/stylesheets/main.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}


  %body
    .container
      %div{:style=>'display:flex'}
        %div{:style=>"width:180px;"}
          %a{:href=>url('/')}
            %img{:src=>'/images/logo.svg', :class=>'navbar-brand'}
        %nav{:class=>'navbar navbar-default', :style=>'flex:1', :id=>'navbar-container'}
          .container-fluid
            -if settings.development?
              //%span{:class=>"alerta"}="(#{t(:Dev_alert)})"
            -if settings.test?
              //%span{:class=>"alerta"}="(#{t(:Test_alert)})"
            .navbar-header
              %button{:type=>:button, :class=>"navbar-toggle collapsed", "data-toggle"=> "collapse", "data-target"=>"#nav-main",  "aria-expanded"=>"false", :id=>'button-navbar'}
                %span{:class=>'sr-only'}Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %div{:class=>"collapse navbar-collapse", :id=>"nav-main"}
              %ul{:class=>'nav navbar-nav'}
                -if auth_to('review_analyze')
                  %li{:class=>''}
                    %a{:class=>'nav-link', :href=>'/'}=t(:My_Dashboard)
                -if auth_to('message_view')
                  %li{:class=>''}
                    %a{:class=>'nav-link', :href=>"/my_messages"}=t(:My_messages)
                - if auth_to('review_admin')
                  %li{:class=>'hidden-sm'}
                    %a{:class=>'nav-link', :href=>'/reviews'}=t(:Systematic_reviews)
                -if auth_to('user_admin') or auth_to('group_admin') or auth_to('role_admin')
                  %li{:class=>'dropdown'}
                    %a{:href=>'#', :class=>'dropdown-toggle', 'data-toggle'=>'dropdown', :role=>'button', 'aria-haspopup'=>'true', 'aria-expanded'=>'false', :id=>'navbarDropdownMenuLink'}
                      =t(:Administration)
                      %span{:class=>:caret}>
                    %ul.dropdown-menu
                      %li<
                        %a{:class=>'dropdown-item', :href=>url('/admin/users')}=t(:Users)
                      %li<
                        %a{:class=>'dropdown-item', :href=>url('/admin/groups')}=t(:Groups)
                      %li<
                        %a{:class=>'dropdown-item', :href=>url('/admin/roles')}=t(:Roles)
                      %li<
                        %a{:class=>'dropdown-item', :href=>url('/admin/scales')}=t(:Scales)
                      %li<
                        %a{:class=>'dropdown-item', :href=>url('/admin/institutions')}=t(:Institutions)
              %div{:class=>'nav navbar-nav navbar-right user-buttons'}
                =show_user
      %div{:style=>"clear:both"}
      -mensajes=print_messages
      - if mensajes!=""
        %section#messages
          =mensajes
      %section#content
        =yield
      %footer.center-block.clearfix
        .container.text-center
          .row
            .col-md-12
              .text-muted.credit=t(:footer_copyright)
              .text-muted.credit=t(:footer_conicyt)
