.page-header
  %h2=t(:Systematic_reviews)

- if @show_inactives
  %p
    %em="#{t(:Type_of_systematic_review_show)}:"
    ="#{t(:actives_and_inactives_systematic_reviews)}.&nbsp;"
    %a{:href=>url("/revisiones")}=t(:Show_only_actives)
- else
  %p
    %em="#{t(:Type_of_systematic_review_show)}:"
    ="#{t(:only_actives_systematic_reviews)}.&nbsp;"
    %a{:href=>url("/revisiones?show_inactives=true")}=t(:Show_actives_and_inactives)

.btn-group
  - if permiso("revisiones_crear_propia")
    %a{:href=>url("/revision/nuevo")}
      %button{:class=>"btn btn-default"}
        %span{:class=>"glyphicon glyphicon-plus"}
        =t(:Systematic_review_new)
-@revisiones.each do |r|
  %div{:class=>"panel panel-default"}
    %div{:class=>"panel-heading"}
      ="(#{r.id})"
      %a{:href=>"/revision/#{r.id}"}=r.nombre
    %div{:class=>"panel-body"}
      %ul{:class=>"list-group"}
        %li{:class=>'list-group-item'}
          =t_desc_value(:Description,r.descripcion)
        -r.taxonomy_categories_hash.each do |group, categories|
          %li{:class=>'list-group-item'}
            ="#{t_taxonomy_group(group)}:"
            =categories.map {|v| t_taxonomy_category(v[:cat_name])}.join(",")
        %li{:class=>'list-group-item'}
          =t_desc_value(:Active, r.activa ? t(:Yes) : t(:No))
        %li{:class=>'list-group-item'}
          =t_desc_value(:Stage, t(r.etapa_nombre))
        %li{:class=>'list-group-item'}
          =t_desc_value(:Minimum_RTA_documents_for_reference_review, r.n_min_rr_rtr)


    %div{:class=>"panel-footer"}
      =partial(:revision_botones, :locals=>{:r=>r})

