- nuevo||=false
- if @_tags_cd_rs_js.nil? and !nuevo
  %link{:href=>url('/css/typeahead.css') , :media => 'screen', :rel=>'stylesheet', :type=>'text/css'}
  %script{:type=>'text/javascript', :src=>url('/js/typeahead.bundle.min.js')}
  %script{:type=>'text/javascript', :src=>url('/js/tags_cd_rs.js')}
  :javascript
    $(document).ready(function() {

    var tagsQuery=new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/tags/basico_10.json',
    remote: {
        url: "/tags/revision_sistematica/#{revision.id}/query_json/%QUERY",
        wildcard: '%QUERY'
    }
    });
    });
  -@_tags_cd_rs_js=true

%div{:id=>"tags-cd-#{cd.id}-rs-#{revision.id}"}
  %ul.tags
    -AnalisisTag.tag_en_cd_rs(revision,cd)  .each do |tag|
      -res_usuario=tag.resultado_usuario(usuario_id)
      -if tag.mostrar
        - class_predeterminado = tag.predeterminado ? "tag-predeterminado" : ""
        - class_escondido = tag.sin_votos? ? "hidden" : ""
        %li{:class=>"tag #{class_predeterminado} #{class_escondido}",:id=>"tag-cd-#{cd.id}-rs-#{revision.id}-#{tag.id}"}
          %span.glyphicon.glyphicon-tag
          %span.texto=tag.texto
          =tag.botones_html(usuario_id)

    %li.tag.nuevo_tag{:id=>"tag-#{cd.id}-rs-#{revision.id}-nuevo"}
      %span.glyphicon.glyphicon-tag
      %input.nuevo_tag_cd_rs{:type=>"text", :class=>"texto", :size=>15,:id=>"tag-cd-#{cd.id}-rs-#{revision.id}-nuevotag", "cd-pk"=>cd.id, "rs-pk"=>revision.id, "data-url"=>url("/tags/cd/#{cd.id}/rs/#{revision.id}/agregar_tag"), :placeholder=>"Nuevo tag"}
      %button.btn.btn-default.btn-xs.boton_nuevo_tag_cd_rs{"cd-pk"=>cd.id, "rs-pk"=>revision.id, "data-url"=>url("/tags/cd/#{cd.id}/rs/#{revision.id}/agregar_tag"), :id=>"boton-tag-cd-#{cd.id}-rs-#{revision.id}-nuevotag"}
        %span.glyphicon.glyphicon-plus
    %botton.btn.btn-default.mostrar_pred{:id=>"tags-cd-#{cd.id}-rs-#{revision.id}_mostrar_pred"}
      %span.glyphicon.glyphicon-eye-open
