- #  %script{:type=>'text/javascript', :src=>url('/js/criteria_manager.js')}
- criteria=Criterion.join(:sr_criteria, :criterion_id=> :id).where(:systematic_review_id=>sr.id, :criteria_type=>type).order(:criterion_id)
.criteria-list
  %div
    %ul.list-group{:id=>"criteria-#{sr.id}-#{type}-list"}
      :javascript

        var criteria=[#{criteria.map {|v| "'#{v[:text]}'"}.join(',')}];
        for(var i=0; i< criteria.length; i++) {
          CriteriaManager.create_criterion('#{sr.id}', '#{type}', criteria[i]);
        }
        CriteriaManager.create_new('#{sr.id}', '#{type}',  '#{t("Criteria_new_#{type}")}');