.heading
  =t_systematic_review_title(@review[:name], "systematic_review_page.#{@stage}_administration")

:javascript
  $(document).ready(function() {
    actualizar_resolution('#{@stage}');
  });

=partial(:breadcrumb_review_admin,:locals=>{:name=>t(@name_stage)})

%h3=t(:Documents_without_decisions)
- cwnd=@ars.cd_with_no_decisions(@stage)
- rpc     = @ars.resolution_by_cd(@stage)
- rcompc  = @ars.resolution_commentary_by_cd(@stage)
- if cwnd.length>0
  %table.table.table-bordered
    %thead
      %th.col-md-5=t(:Document)
      %th.col-md-5=t(:Decisions)
      %th.col-md-2=t(:Resolution)
    %tbody
      - cwnd.each do |cd_id|
        %tr{:class=>"row-resolution-#{rpc[cd_id]}"}
          %td.col-md-5
            - if @ars.cd_hash[cd_id]
              = CGI::escapeHTML @ars.cd_hash[cd_id].ref_apa_6_brief
              %br
              = partial(:canonical_document_button, :locals=>{id:cd_id})
              = partial(:canonical_document_button_abstract_collapsible, :locals=>{cd:@ars.cd_hash[cd_id]})
            - else
              =t("error.no_valid_cd_for_this_systematic_review", cd_id:cd_id)
          %td.col-md-5=@text_decision_cd.to_html(cd_id)
          - if auth_to('review_admin')
            %td.col-md-2=partial(:buttons_resolution, :locals=>{:rpc=>rpc, :rcompc=>rcompc, :cd_id=>cd_id, :stage=>@stage, :user_id=>@user_id, :review=>@review})
          - else
            %td.col-md-2=partial(:buttons_resolution_view, :locals=>{:rpc=>rpc, :rcompc=>rcompc, :cd_id=>cd_id, :stage=>@stage, :user_id=>@user_id, :review=>@review})
- else
%div.warning=t(:No_document_without_decisions)