.heading
  %h2=t(:Systematic_review_automatic_categories, sr_name:@review.name)

%ul.breadcrumb
  %li
    %a{:href=>url("/review/#{@review.id}")}=@review.name
  %li
    %a{:href=>url("/review/#{@review.id}/canonical_documents")}=t(:Canonical_documents)
  %li{:class=>"active"}=t(:Automatic_categories)


%p
  %strong Número de documentos canónicos total:
  =@cd_hash.length
- @categorizador.categorias_cd_id.each do |cat, cd_id|
  .btn-group
    %a{:href=>"##{cat}",:role=>:button, :class=>"btn btn-default btn-sm"}=cat
- @categorizador.categorias_cd_id.each do |cat, cd_ids|
  %a{:name=>"#{cat}"}
  %h3=cat
  .list-group
    - cd_ids.each do |cd_id|
      .list-group-item
        - cd=@cd_hash[cd_id]
        =CGI::escapeHTML cd.ref_apa_6_brief
        ="[#{@categorizador.cd_categoria(cd_id)}]"
        %div
          =partial(:canonical_document_button,:locals=>{:id=>cd.id})
          -if !cd[:abstract].nil? and cd[:abstract]!=""
            %button{:class=>"btn btn-primary btn-sm", :type=>"button",  "data-toggle"=>'collapse', "data-target"=>"#cd#{cd[:id]}", "aria-expanded"=>"false", "aria-controls"=>"cd#{cd[:id]}"}Abstract
            %div{:class=>"collapse", :id=>"cd#{cd[:id]}"}
              .well=cd[:abstract]