.heading
  =t_systematic_review_title(@review[:name], t("systematic_review_page.cd_assignations")+". "+t(:Stage_title, :stage_name=>t(get_stage_name(@stage))),false)

%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@review[:id]}")}=@review[:name]
  %li
    %a{:href=>url("/review/#{@review[:id]}/stages_administration")}=t(:Administration)
  %li
    %a{:href=>url("/review/#{@review[:id]}/administration/#{@stage}")}=t(get_stage_name(@stage))
  %li{:class=>:active}
    =t("systematic_review_page.cd_assignations")

- if auth_to('review_admin')
  %h3=t("systematic_review_page.cd_assignations_excel").to_sym
  .btn-group
    %a.btn.btn-sm.btn-default{:href=>"/review/#{@review[:id]}/administration/#{@stage}/cd_assignations_excel/save"}
      %span.glyphicon.glyphicon.glyphicon-export
      =t(:All)
    %a.btn.btn-sm.btn-default{:href=>"/review/#{@review[:id]}/administration/#{@stage}/cd_assignations_excel/save_only_not_allocated"}
      %span.glyphicon.glyphicon.glyphicon-export
      =t(:Not_assigned)
    %a.btn.btn-sm.btn-default{:href=>"/review/#{@review[:id]}/administration/#{@stage}/cd_assignations_excel/save_only_not_resolved"}
      %span.glyphicon.glyphicon.glyphicon-export
      =t(:Not_resolved)

  %p=t("systematic_review_page.cd_assignations_excel_input").to_sym

  %form{:method=>:post, :action=>url("/review/#{@review[:id]}/administration/#{@stage}/cd_assignations_excel/load"), :enctype=>'multipart/form-data'}
    .form-group
      %label
        %span.glyphicon.glyphicon.glyphicon-import
        =t(:File)
      %input{:type=>'file', :name=>'file', :multiple=>"multiple"}
    %input{:type=>:submit, :class=>"btn btn-primary",:value=>"Enviar"}



  %h3=t("systematic_review_page.cd_assignations_batch").to_sym


  %table.table
    %thead
      %th=t(:User_name)
      %th=t(:Count_canonical_documents_assigned)
      %th=t(:Actions)
    %tbody
    -@review.group_users.each do |user|
      - cd_id_assigned=@ars.cd_id_assigned_by_user(@stage,user[:id])
      %tr
        %td=user.name
        %td=cd_id_assigned.count
        %td
          - add_disabled = cd_id_assigned.count==@cds.count ? "disabled":""
          - remove_disabled = cd_id_assigned.count==0 ? "disabled":""
          %a{:href=>"/review/#{@review.id}/stage/#{@stage}/add_assign_user/#{user.id}/#{@type}",:class=>"btn btn-default #{add_disabled}"}
            %span.glyphicon.glyphicon-hand-up
            =t(:Assign_all)
          %a{:href=>"/review/#{@review.id}/stage/#{@stage}/rem_assign_user/#{user.id}/#{@type}",:class=>"btn btn-default #{remove_disabled}"}
            %span.glyphicon.glyphicon-hand-down
            =t(:Remove_assign_all)
          %a{:href=>"/review/#{@review.id}/stage/#{@stage}/reassign_user/#{user.id}",:class=>"btn btn-default #{remove_disabled}"}
            =t(:Reassign)

%h3=t("systematic_review_page.cd_assignations_by_cd").to_sym

=partial(:pager_order, :locals=>{:order_criteria=>@order_criteria, :pager=>@pager, :url=>@url, :extra=>{query:@pager.query}})

=partial(:pager, :locals=>{url: @url, pager: @pager})

%p

- @cds.each do |cd|
  %div.panel.panel-default
    =partial(:canonical_document_description, :locals=>{review: @review, cd: cd, ars:@ars})
    =partial(:canonical_document_assignations, :locals=>{review: @review, cd: cd, stage:@stage})