.heading
  =t_systematic_review_title(@sr[:nombre], t(:Cd_extract_information, cd_title:@cd[:title]),false)
- ajax||=false

:javascript
  $(document).ready(function() {
    actualizar_decision('review_full_text');
    }
  );

%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@sr[:id]}")}=@sr[:nombre]
  %li
    %a{:href=>url("/review/#{@sr[:id]}/full_text_review")}=t(:Review_full_text)
  %li{:class=>:active}
    =t(:Cd_extract_information, cd_title:@cd[:title])

.container
  .row
    .col-md-10
      =@cd.ref_apa_6_breve_html
    .col-md-2
      =partial(:canonical_document_button, :locals=>{id:@cd[:id]})
  .row
    .col-md-7.col-sm-7.resizable#document_viewer
      .embed-responsive.embed-responsive-4by3
        %iframe{:src=>"/ViewerJS/#../file/#{@current_file_id}/download",  :allowfullscreen=>true, :webkitallowfullscreen=>true}
    .col-md-5.col-sm-5#extract_form
      .container
        .row
          .col-sm-5
            %div{:id=>"decision-cd-#{@cd[:id]}"}
              =partial(:decision, :locals=>{revision:@sr, cd:@cd, ars:@ars, usuario_id:@user[:id], etapa: @stage , decisiones:@decisiones, only_buttons:true})
        - @form_creator.each_field do |field|
          .row
            .col-sm-5
              %strong=field.description
          .row
            .col-sm-5=field.html
        - if @outgoing_citations.count>0
          .row
            .col-sm-5
              %strong=t(:Outgoing_citations)
              .list-group
                - @outgoing_citations.each do |cd_out|
                  .list-group-item
                    =cd_out.ref_apa_6_breve
                    %a.btn.btn-default.btn-sm{:href=>"/review/#{@sr[:id]}/extract_information/cd/#{cd_out[:id]}"}=t(:View)
                    %br
                    =partial("tags/tags_cd_rs_ref", :locals=>{cd_start: @cd, cd_end:cd_out ,revision:@sr, usuario_id:@user[:id], ajax:ajax})
        - if @incoming_citations.count>0
          .row
            .col-sm-5
              %strong=t(:Incoming_citations)
          .row
            .col-sm-5
              .list-group
                - @incoming_citations.each do |cd_incoming|
                  .list-group-item
                    =cd_incoming.ref_apa_6_breve
                    %a.btn.btn-default.btn-sm{:href=>"/review/#{@sr[:id]}/extract_information/cd/#{cd_incoming[:id]}"}=t(:View)



