.heading
  =t_systematic_review_title(@sr[:name], t(:Cd_extract_information, cd_title:@cd[:title]),false)
- ajax||=false


%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@sr[:id]}")}=@sr[:name]
  %li
    %a{:href=>url("/review/#{@sr[:id]}/review_full_text")}=t(:Review_full_text)
  %li{:class=>:active}
    =t(:Cd_extract_information, cd_title: truncate(@cd[:title].to_s))

.container
  .row
    .col-md-10
      =@cd.ref_apa_6_brief_html
    .col-md-2
      =partial(:canonical_document_button, :locals=>{id:@cd[:id], review:@sr})
      %a{href:"http://translate.google.com/translate?hl=en&sl=auto&tl=es&u=#{request.scheme}://#{request.host_with_port}/file/#{@current_file_id}/download"}
        %button.btn.btn-default=t(:Translate)
  .row
    .col-md-8.col-sm-8#document_viewer
      - if @current_file_id.nil?
        %p.alert.alert-warning=t(:No_file)
        =@modal_files.javascript_header
        =@modal_files.cargador_archivo(@sr[:id], @cd[:id])
      - else
        %div.embed-responsive.embed-responsive-4by3
          %iframe{:src=>"/ViewerJS/#../file/#{@current_file_id}/download",  :allowfullscreen=>true, :webkitallowfullscreen=>true}
    .col-md-4.col-sm-4#extract-form
      %div
        %div
          %div{:id=>"decision-cd-#{@cd[:id]}"}
            =partial(:decision, :locals=>{review:@sr, cd:@cd, ars:@ars, user_id:@user[:id], stage: @stage , decisions:@decisions, only_buttons:true})
        - @form_creator.each_field do |field|
          %div
            %strong=field.description
          %div
            =field.html
        - if @outgoing_citations.count>0
          %div
            %strong=t(:Outgoing_citations)
            .list-group
              - @outgoing_citations.each do |cd_out|
                .list-group-item
                  =cd_out.ref_apa_6_brief
                  %a.btn.btn-default.btn-sm{:href=>"/review/#{@sr[:id]}/extract_information/cd/#{cd_out[:id]}"}=t(:View)
                  %br
                  =partial("tags/tags_cd_rs_ref", :locals=>{cd_start: @cd, cd_end:cd_out ,review:@sr, user_id:@user[:id], ajax:ajax})
        - if @incoming_citations.count>0
          %div
            %strong=t(:Incoming_citations)
          %div
            .list-group
              - @incoming_citations.each do |cd_incoming|
                .list-group-item
                  =cd_incoming.ref_apa_6_brief
                  %a.btn.btn-default.btn-sm{:href=>url("/review/#{@sr[:id]}/extract_information/cd/#{cd_incoming[:id]}")}=t(:View)
  .row
    .col-md-12
      .btn-group
        %a.btn.btn-primary{:href=>url("/review/#{@sr[:id]}/quality_assessment/cd/#{@cd[:id]}")}=t(:Quality_assesment)
        %a.btn.btn-primary{:href=>url("/review/#{@sr[:id]}/extract_information/cd/#{@cd[:id]}/by_similarity")}=t(:Continue_by_similarity)
// Here comes the form_creator javascript
=@form_creator.javascript
