.heading
  =t_systematic_review_title(@sr[:name], t(:Cd_extract_information, cd_title:@cd[:title]),false)
- ajax||=false
=@modal_files.javascript_header
=@modal_files.html_modal


%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@sr[:id]}")}=@sr[:name]
  %li
    %a{:href=>url("/review/#{@sr[:id]}/extract_information")}=t("stage.extract_information")
  %li{:class=>:active}
    =t(:Cd_extract_information, cd_title: truncate(@cd[:title].to_s))

.container
  .row
    .col-md-10
      =@cd.ref_apa_6_brief_html
    .col-md-2
      =partial(:canonical_document_button, :locals=>{id:@cd[:id], review:@sr})
      - if !@current_file_id.nil?
        %a{href:"http://translate.google.com/translate?hl=en&sl=auto&tl=es&u=#{request.scheme}://#{request.host_with_port}/file/#{@current_file_id}/to_text/download_external", target:"translation"}
          %button.btn.btn-default=t(:Translate)
  .row
    .col-md-8.col-sm-8#document_viewer
      - if @current_file_id.nil?
        %p.alert.alert-warning=t(:No_file)
        =@modal_files.cargador_archivo(@sr[:id], @cd[:id])
      - else
        %div.embed-responsive.embed-responsive-4by3
          %iframe{:src=>"/ViewerJS/#../file/#{@current_file_id}/download",  :allowfullscreen=>true, :webkitallowfullscreen=>true}
    .col-md-4.col-sm-4#extract-form
      %div
        - @form_creator.each_field do |field|
          %div
            %strong=field.description
          %div
            =field.html
        %hr
        %div
          %strong Pautas de extracción
        %form{:method=>:post, :action=>url("/review/#{@sr[:id]}/extract_information/cd/#{@cd[:id]}/file_extraction_information/add"), :enctype=>'multipart/form-data'}
          .form-group
            %input.form-control{:type=>'file', :name=>'file_extraction_information[]', :multiple=>true}
          %input.btn.btn-primary.btn-sm{:type=>:submit, :value=>t(:Upload_file)}
        - if @file_extraction_informations.empty?
          %p
            %em Sin pautas subidas
        - else
          .list-group
            - @file_extraction_informations.each do |file_extraction_information|
              - guideline_file=@file_extraction_information_files[file_extraction_information[:file_id]]
              - if guideline_file
                .list-group-item
                  %div{:style=>'overflow:hidden;text-overflow:ellipsis;'}
                    =a_editable(guideline_file[:id], 'filename', "/file/edit_field/filename", guideline_file[:filename])
                  .btn-group.btn-group-sm
                    %a.btn.btn-default{:href=>url("/file/#{guideline_file[:id]}/download")}
                      %span.glyphicon.glyphicon-download
                      =t(:Download)
                    %button.btn.btn-default{"data-target"=>"#modalArchivos", "data-toggle"=>"modal", "data-name"=>guideline_file[:filename], "data-pk"=>guideline_file[:id], "data-pages"=>guideline_file[:pages], :type=>"button"}
                      %span.glyphicon.glyphicon-eye-open
                      =t(:View_file)
                    %form{:method=>:post, :action=>url("/review/#{@sr[:id]}/extract_information/cd/#{@cd[:id]}/file_extraction_information/#{file_extraction_information[:id]}/delete"), :style=>"display:inline;"}
                      %button.btn.btn-danger{:type=>:submit}
                        %span.glyphicon.glyphicon-remove
                        =t("file_handler.delete_file")
        - if @outgoing_citations.count>0
          %div
            %strong=t(:Outgoing_citations)
            .list-group
              - @outgoing_citations.each do |cd_out|
                .list-group-item
                  =cd_out.ref_apa_6_brief
                  %a.btn.btn-default.btn-sm{:href=>"/review/#{@sr[:id]}/extract_information/cd/#{cd_out[:id]}"}=t(:View)
                  %br
                  =partial("tags/tags_cd_rs_ref", :locals=>{cd_start: @cd, cd_end:cd_out ,review:@sr, user_id:@user[:id], ajax:ajax})
        - if @incoming_citations.count>0
          %div
            %strong=t(:Incoming_citations)
          %div
            .list-group
              - @incoming_citations.each do |cd_incoming|
                .list-group-item
                  =cd_incoming.ref_apa_6_brief
                  %a.btn.btn-default.btn-sm{:href=>url("/review/#{@sr[:id]}/extract_information/cd/#{cd_incoming[:id]}")}=t(:View)
  .row
    .col-md-12
      .btn-group
        %a.btn.btn-primary{:href=>url("/review/#{@sr[:id]}/quality_assessment/cd/#{@cd[:id]}")}=t(:Quality_assesment)
// Here comes the form_creator javascript
=@form_creator.javascript
