.heading
  =t_systematic_review_title(@review[:name], t("systematic_review_page.complete_empty_abstract")+". "+t(:Stage_title, :stage_name=>t(get_stage_name(@stage))),false)
- ars=AnalysisSystematicReview.new(@review)
%ul.breadcrumb
  %li
    %a{:href=>url("/reviews")}=t(:Systematic_reviews)
  %li
    %a{:href=>url("/review/#{@review[:id]}")}=@review[:name]
  %li
    %a{:href=>url("/review/#{@review[:id]}/administration_stages")}=t(:Administration)
  %li
    %a{:href=>url("/review/#{@review[:id]}/administration/#{@stage}")}=t(get_stage_name(@stage))
  %li{:class=>:active}
    =t("systematic_review_page.complete_empty_abstract")

.list-group
  - @cd_wo_abstract.each do |cd|
    .list-group-item
      =cd.ref_apa_6_brief_html
      - text_references=sprintf("<strong>#{t(:Citations)}</strong>: #{t(:this_document_cites)}&nbsp;<strong>%d</strong> / #{t(:this_document_cited_by)}&nbsp;<strong>%d</strong> ", ars.cd_count_outgoing(cd[:id]).to_i, ars.cd_count_incoming(cd[:id]).to_i)
      - if ars.cd_count_incoming_sta(cd[:id])
        -text_references+=sprintf("/ #{t(:this_document_cited_by_rta_document)}&nbsp;<strong>%d</strong>", ars.cd_count_incoming_sta(cd[:id]).to_i)
      %p=text_references

      %div
        =partial(:canonical_document_button,:locals=>{:id=>cd.id})
        %p
        %strong=t(:Abstract)
        %div
          - if auth_to("review_admin")
            =a_textarea_editable(cd[:id], "canonical_document", "/canonical_document/edit_field/abstract", cd[:abstract],"")
          - else
            =@cd[:abstract]