.header=t_systematic_review_title(@revision[:nombre], :Systematic_review_stage_full_text)
%ul.breadcrumb
  %li
    %a{:href=>url("/review/#{@revision.id}")}=@revision.nombre
  %li{:class=>:active}=t(:Review_full_text)

.well
  =t("review_full_text.objective")


:javascript
  $(document).ready(function() {
    actualizar_decision('screening_references');
    }
  );


=partial(:systematic_review_info, :locals=>{systematic_review: @revision})

%h3=t(:Review_status)
%p=t_desc_value(:Count_total_documents_to_review, sprintf("%d", @cds_total))

%form{:action=>url(@url), :method=>:get,:class=>"form-check", :enctype=>"multipart/form-data"}
  %input{:type=>:hidden,:name=>:pagina, :value=>@pager.pagina}
  %input{:type=>:hidden,:name=>:orden, :value=>@pager.orden}
  %table.reporte
    %thead
      - Decision::N_EST.values.each do |k|
        %th=t(k)
    %tbody
      %tr
        - Decision::N_EST.keys.each do |k|
          %td=@ads.total_decisiones[k].to_i
      %tr
        - Decision::N_EST.keys.each do |k|
          - checked= @pager.busqueda.nil?  ? false :  ( @pager.busqueda.include?(k) )
          %td
            %input{:type=>:radio,  :class=>"form-check-input",:name=>"busqueda", :value=>k, :checked=> checked }
      %tr
        %td{:colspan=>Decision::N_EST.keys.length}
          %input{:type=>"submit", :class=>"btn btn-default", :value=>"Filtrar"}
- if @pager.busqueda
  %p=t_desc_value(:Count_documents_search, @cds_pre.count)

.btn-group
  -@criterios_orden.each do |crit_orden,crit_nombre|
    -["asc","desc"].each do |dir|
      -arrow_dir =  dir=="asc" ? "up" : "down"
      -if @pager.orden!="#{crit_orden}__#{dir}"
        %a{:href=>url("#{@url}?busqueda=#{@pager.busqueda}&orden=#{crit_orden}__#{dir}"), :class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
      -else
        %button{:class=>"btn btn-primary btn-sm"}
          %span{:class=>"glyphicon glyphicon-chevron-#{arrow_dir}"}
          =crit_nombre
- if @ads.total_decisiones[Decision::NO_DECISION].to_i==0 and @cds_total>0
  %p
    %strong Ha concluido la segunda fase de revision de referencias.

%br
- if @cds.empty?
  .alert.alert-warning=t(:No_document_for_this_criteria)
- else
  = partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})

  %table.table.table-rounded.table-bordered
    %thead
      %th=t(:Document)
      %th=t(:Decision)
      %th=t(:Assignation_status)
      %th=t(:Assignation_instructions)
    %tbody
      - @cds.each do |cd|
        - decision_o=@decisiones[cd[:id]]
        - decision = decision_o ? decision_o[:decision] : nil
        - asignacion_o=@asignaciones[cd[:id]]
        - clase_panel=decision_class_bootstrap(decision,nil)
        %tr{:class=>clase_panel}
          %td
            =CGI::escapeHTML cd.ref_apa_6
            %a.btn.btn-primary.btn-sm{:href=>"/review/#{@revision[:id]}/extract_information/cd/#{cd[:id]}"}=t(:Extract_information)
          %td=t(Decision.get_name_decision(decision))
          - if asignacion_o
            %td=asignacion_o[:estado]
            %td=asignacion_o[:instrucción] ? asignacion_o[:instrucción] : t(:No_assignation_instructions)
          - else
            %td{:colspan=>2}
              %em=t(:Not_assigned)

  = partial(:pager,:locals=>{url: @url, pagina: @pager.pagina, max_page: @pager.max_page, :extra=>{busqueda:@pager.busqueda, orden:@pager.orden}})