.header
  %h2=title(t("My_favorites", user: @user[:name]))

:javascript
  $(document).ready(function() {
    $(".editable-group-public").editable({
        type: 'select',
        source: [{value:0, text:"#{t("favorites.Private")}"},
                 {value:1, text:"#{t("favorites.Public")}"}],
        onblur:'submit',
        ajaxOptions: {
            type: 'put'
        }
    });

    $("#favorites-trash-toggle").on("click", function(event) {
      event.preventDefault();
      $("#favorites-trash").toggleClass("hidden");
    });

    $(".favorite-restore").on("click", function(event) {
      event.preventDefault();
      var button = $(this);
      $.post(button.data("url"), function() {
        window.location.reload();
      });
    });

    $(".favorite-destroy").on("click", function(event) {
      event.preventDefault();
      if (!confirm("#{t(:Are_you_sure)}?")) {
        return;
      }
      var button = $(this);
      $.post(button.data("url"), function() {
        button.closest("tr").remove();
      });
    });
  });

%ul.breadcrumb
  %li
    %a{:href=>"/user/#{@user[:id]}"}=@user[:name]
  %li.active
    =t(:My_favorites)

%h3=t("favorites.My_Categories")

%form.form-inline{:action => "/favorite_groups/new", :method => "post"}
  .form-group
    %input.form-control{:name => "name", :placeholder => t("favorites.New_category_name"), :required => true}
  .checkbox
    %label
      %input{:type => "checkbox", :name => "is_public", :value => "true"}
      =t("favorites.Make_public")
  %button.btn.btn-default{:type => "submit"}
    %span.glyphicon.glyphicon-plus
    =t(:Add)
%p

- if @favorite_groups.empty?
  %p
    %em=t("favorites.No_categories_created")
- else
  %table.table-bordered.table-sm
    %thead
      %tr
        %th=t(:Name)
        %th=t(:Description)
        %th=t(:Visibility)
        %th=t(:Actions)
    %tbody
      - @favorite_groups.each do |group|
        %tr
          %td
            =a_editable(group.id, "favorite_group_name", "/favorite_groups/#{group.id}/edit_field/name", group.name, "")
          %td
            =a_editable(group.id, "favorite_group_description", "/favorite_groups/#{group.id}/edit_field/description", group.description, "")
          %td
            %a{:href => "#", :id=>"editable_favorite_public_#{group.id}",
            :class => "editable-group-public", "data-url"=>url("/favorite_groups/#{group.id}/edit_field/is_public"),
            "data-pk" => group.id, "data-value" => group.is_public ? "1" : "0"}
          %td
            %a.btn.btn-danger.btn-xs{:href => "/favorite_group/#{group.id}/delete", :onclick => "return confirm('#{t(:Are_you_sure)}?');"}
              %span.glyphicon.glyphicon-trash

.clearfix
  %h3.pull-left=t("favorites.My_Favorite_Documents")
  %a#favorites-trash-toggle.btn.btn-default.btn-sm.pull-right{:href=>"#"}
    %span.glyphicon.glyphicon-trash
    =t("favorites.Trash")

- if @favorite_documents.empty?
  %p
    %em=t("favorites.No_favorites_yet")
- else
  %form{:id => "favorites_#{@user[:id]}", :action => "/favorites/user/#{@user[:id]}/update", :method => "post"}
    - @favorite_documents.each do |fav|
      - cd=@favorite_canonical_documents[fav[:canonical_document_id]]
      - upload_form_id="favorite-file-upload-#{fav[:canonical_document_id]}"
      - available_reviews=@favorite_reviews_by_cd[fav[:canonical_document_id]] || []
      - favorite_files=@favorite_files_by_cd[fav[:canonical_document_id]] || []
      .panel.panel-default
        .panel-heading
          %span=cd.ref_apa_6_brief_html
        .panel-body
          .row
            .col-md-2
              %label
                %input{:type=>"checkbox", :name => "favorites[#{fav[:canonical_document_id]}][activo]", :checked => fav[:activo]}
                =t(:Active)
            .col-md-3
              %label=t(:Category)
              %select.form-control.input-sm{:name => "favorites[#{fav[:canonical_document_id]}][group_id]"}
                %option{:value => ""}=t("favorites.No_category")
                - @favorite_groups.each do |group|
                  %option{:value => group.id, :selected => (group.id == fav[:group_id])}=group.name
            .col-md-7
              %textarea.form-control{:name => "favorites[#{fav[:canonical_document_id]}][commentary]", :rows=>2}=fav[:commentary]
        .panel-footer
          .btn-group
            =partial(:canonical_document_button_abstract_collapsible, :locals=>{cd:cd})
            =partial(:canonical_document_button, :locals=>{id:cd[:id]})
          .pull-right
            %input.form-control.input-sm{:type=>'file', :name=>'files[]', :multiple=>true, :form=>upload_form_id, :style=>"display:inline-block;width:auto;"}
            %button.btn.btn-default.btn-sm{:type=>:submit, :form=>upload_form_id}
              %span.glyphicon.glyphicon-upload
              =t(:Upload_file)
          - if favorite_files.any?
            %div{:style=>"clear:both;padding-top:8px;"}
              %strong=t("favorites.Canonical_document_files")
              %ul.list-unstyled
                - favorite_files.each do |file|
                  %li
                    %a{:href=>url("/file/#{file[:id]}/download")}=file[:filename]
                    - if available_reviews.any?
                      - available_reviews.each do |review|
                        - linked=FileSr[:file_id=>file[:id], :systematic_review_id=>review[:id]]
                        - unless linked
                          %form{:method=>:post, :action=>url("/review/#{review[:id]}/canonical_document/#{cd[:id]}/file/#{file[:id]}/use"), :style=>"display:inline;"}
                            %button.btn.btn-xs.btn-default{:type=>:submit}
                              =t("favorites.Use_in_review", review_name:review[:name])

    %button.btn.btn-sm.btn-success{:type => "submit"}
      %span.glyphicon.glyphicon-save
      =t(:Save)
  - @favorite_documents.each do |fav|
    %form{:id=>"favorite-file-upload-#{fav[:canonical_document_id]}", :method=>:post, :action=>url("/favorite/user/#{@user[:id]}/canonical_document/#{fav[:canonical_document_id]}/file/add"), :enctype=>'multipart/form-data'}

#favorites-trash.hidden
  %h3=t("favorites.Inactive_Favorites")
  - if @inactive_favorite_documents.empty?
    %p
      %em=t("favorites.No_inactive_favorites")
  - else
    %table.table-bordered.table-sm
      %thead
        %tr
          %th=t(:Document)
          %th=t(:Category)
          %th=t(:Commentary)
          %th=t(:Actions)
      %tbody
        - @inactive_favorite_documents.each do |fav|
          %tr{:id=>"inactive-favorite-#{fav[:canonical_document_id]}"}
            %td
              %strong=fav[:title]
              %p="#{fav[:author]} (#{fav[:year]})"
            %td
              - group=@favorite_groups.find {|fg| fg.id == fav[:group_id]}
              =group ? group.name : t("favorites.No_category")
            %td=fav[:commentary]
            %td
              %button.btn.btn-xs.btn-success.favorite-restore{:type=>"button", "data-url"=>"/favorite/user/#{@user[:id]}/canonical_document/#{fav[:canonical_document_id]}/restore"}
                %span.glyphicon.glyphicon-repeat
                =t("favorites.Restore")
              %button.btn.btn-xs.btn-danger.favorite-destroy{:type=>"button", "data-url"=>"/favorite/user/#{@user[:id]}/canonical_document/#{fav[:canonical_document_id]}/destroy"}
                %span.glyphicon.glyphicon-remove
                =t(:Delete)
