.header
  %h2=title(t("users_admin.multiple_edit"))

%ul.breadcrumb
  %li
    %a{:href=>"/admin/users"}=t("users_admin.Users_admin")
  %li.active
    =t("users_admin.multiple_edit")

%form{:method=>'post',:action=>url('/admin/users/update_edit')}
  %table.table.table-flush.table-striped
    %thead
      %th=t(:Id)
      %th=t(:User_name)
      %th=t(:Login)
      %th=t(:Active)
      %th=t(:Role)
    %tbody
      -@users.each do |per|
        - pid=per[:id]
        %tr
          %td=per[:id]
          %td
            %input.form-control{type: 'textbox', name:"user[#{pid}][name]", value:per[:name].force_encoding("UTF-8")}
          %td
            %input.form-control{type: 'textbox', name:"user[#{pid}][login]", value:per[:login]}
          %td
            %select.form-control{name:"user[#{pid}][active]"}
              %option{:value=>1, :selected=>per[:active]}=t("Yes")
              %option{:value=>0, :selected=>!per[:active]}=t("No")
          %td
            %select.form-control{name:"user[#{pid}][role_id]"}
              - Role.order(:id).all do |role|
                %option{:value=>role[:id], :selected=>role[:id]==per[:role_id]}=role[:id]
          %td
            %select.form-control{name:"user[#{pid}][language]"}
              - available_locales_hash.each do |key,lang_name|
                %option{:value=>key, :selected=> key == per[:language].to_sym}=lang_name
  %input.btn.btn-default{type:"submit"}