.header=t_search_title(@revision[:nombre], @busqueda.nombre,:References_on_search)

%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/revision/#{@revision.id}/busquedas")}=t(:Searchs)
  %li
    %a{:href=>url("/busqueda/#{@busqueda.id}")}=@busqueda.nombre
  %li.active
    =t(:References_on_search)

:javascript
  $(document).ready(function() {
    buscar_similares_canonico();
  });

%ul.breadcrumb
  %li
    %a{:href=>url("/revision/#{@revision.id}")}=@revision.nombre
  %li
    %a{:href=>url("/busqueda/#{@busqueda.id}")}=@busqueda.nombre
  %li=t(:References)

%p
  =t_desc_value(:Count_references_total, @referencias.count)



%p
  =t(:Count_references_with_canonical)
  =@referencias_con_canonico.count
.btn-group
  %a{:href=>"/busqueda/#{@busqueda.id}/referencias/buscar_dois", :class=>"btn btn-default btn-sm", :role=>:button}=t(:Search_DOI_for_references)
  %a{:href=>"/busqueda/#{@busqueda.id}/referencias/generar_canonicos_doi/#{@n_referencias}", :class=>"btn btn-default btn-sm", :role=>:button}=t(:Assign_canonical_to_references)


%form{:method=>"get",:action=>url("/busqueda/#{@busqueda.id}/referencias"), :class=>"form-inline"}
  .form-group
    %label{:for=>"n_referencias"}=t(:Number_of_references)
    %input{:type=>"input",:class=>"form-control",:id=>"n_referencias", :name=>"n_referencias",:value=>@n_referencias}
    %input{:type=>:submit, :class=>"btn btn-primary",:value=>"Enviar"}

%h4=t(:More_cited_references_with_canonical)

.list-group
- @rmc_canonico.each do |ref|
  %div.list-group-item
    %span{:class=>"badge"}=ref[:n_registros]
    .list-group-item-text
      ="#{ref[:author]} (#{ref[:year]}). #{ref[:title]}. <em>#{ref[:journal]},#{ref[:volume]}</em>, #{ref[:pages]} "
      %button{:class=>"btn btn-default btn-sm buscar_similares_canonico",:id=>"buscar_similar-#{ref[:id]}"}
        %span{:class=>"glyphicon glyphicon-search"}
        =t(:Search_references_like_this)
      %a{:href=>url("/canonico_documento/#{ref[:id]}")}
        %button{:class=>"btn btn-success btn-sm"}
          %span{:class=>"glyphicon glyphicon-king"}
          =t(:Canonical)
      %div{:id=>"buscar_similar-#{ref[:id]}-campo", :style=>"max-height:200px;overflow:auto"}

%h4=t(:More_cited_references_with_canonical_without_DOI)


.list-group
- @rmc_sin_canonico_con_doi.each do |ref|
  %div.list-group-item
    -#$log.info(ref)
    %span{:class=>"badge"}=ref[:n]
    .list-group-item-text
      =ref[:texto]
      %a{:href=>url("/referencias/buscar_crossref_por_doi/#{CGI.escape(ref[:doi].gsub("/","***"))}")}
        %button{:class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-search"}
          =t(:Search_on_crossref)
      %div{:id=>"buscar_similar-#{ref[:id]}-campo"}

%p

%h4=t(:More_cited_references_without_canonical_without_DOI)

.list-group
- @rmc_sin_canonico.each do |ref|
  %div.list-group-item
    %span{:class=>"badge"}=ref[:n]
    .list-group-item-text
      =ref[:texto]
      %button{:class=>"btn btn-default btn-sm buscar_similares_no_canonico",:id=>"buscar_similar-#{ref[:id]}"}
        %span{:class=>"glyphicon glyphicon-search"}
        =t(:Search_references_like_this)
      %a{:href=>url("/referencia/#{ref[:id]}/buscar_crossref")}
        %button{:class=>"btn btn-default btn-sm"}
          %span{:class=>"glyphicon glyphicon-search"}
          =t(:Search_on_crossref)
      %div{:id=>"buscar_similar-#{ref[:id]}-campo"}

