- if !@ajax
  .heading=t_canonical_document_title(@cd.title, :Search_for_similar_references)
  %ul.breadcrumb
    %li
      %a{:href=>url("/canonical_document/#{@cd.id}")}=@cd.title
    %li.active
      =t(:Search_for_similar_references)



  %p
    %strong="#{t(:Original)}:"
    =@cd.ref_apa_6
    %a{:href=>url("/canonical_document/#{@cd.id}")}="(#{@cd[:id]})"

-if @ref_similares.length==0
  %p
    %em=t(:No_similar_references_without_canonical)
-else
  %form{:action=>url("/canonical_document/#{@cd.id}/merge_similar_references"),:method=>:post}
    .list-group
    - @ref_similares.each do |resp|
      %div.list-group-item
        %input{:type=>"checkbox", :checked=>true, :name=>"reference[#{resp[:id]}]"}
        %h4.list-group-item-heading=resp[:text]
        %span{:class=>'badge'}=resp[:distancia]
        .list-group-item-text
          - if resp[:canonical_document_id]
            %a{:href=>url("/canonico/#{resp[:canonical_document_id]}")}
              %button{:class=>"btn btn-success btn-sm"}
                %span{:class=>"glyphicon glyphicon-king"}
                =t(:Canonical)
          - if resp[:doi]
            %strong
              =a_doi(resp[:doi])
    %input{:type=>:submit, :value=>t(:Merge),:class=>"form-control"}